
:javascript
  $(document).on('turbolinks:load', function() {

    //Setting values
    var question_def_edit = $("#question_definition").val();
    var question_expl_edit = $("#question_explanation").val();
    var val_a_edit = $("#question_alt_a").val();
    var val_b_edit = $("#question_alt_b").val();
    var val_c_edit = $("#question_alt_c").val();
    var val_d_edit = $("#question_alt_d").val();
    var val_e_edit = $("#question_alt_e").val();
    
    $("#questiondefinition").html(question_def_edit);
    $("#questionexplanation").html(question_expl_edit);
    $("#alt_a").html(val_a_edit);
    $("#alt_b").html(val_b_edit);
    $("#alt_c").html(val_c_edit);
    $("#alt_d").html(val_d_edit);
    $("#alt_e").html(val_e_edit);


    console.log("#{@question.id}" )
    if("#{@question.id}" != ""){
      $.getJSON('/questions/#{@question.id}/comments.json', function(data) {
      console.log('retrieving this: ', data)

      $('#campo').find('textarea').remove();
      $('#campo').find('p').remove();
      $('#campo').find('hr').remove();

      $('#comments').show();
      data.forEach(element => {
          dayOfWeekName = ['Dom','Lun','Mar','Mie','Jue','Vie','Sab'],
          monthName = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"];
                
            var date    = new Date(element.created_at),
                yr      = date.getFullYear(),
                month   = monthName[date.getMonth()],
                day     = dayOfWeekName[date.getDay()],
                hour    =  date.getHours();
                minute  = date.getMinutes();
                var hours = (date.getHours()+24-2)%24; 
                var mid='am';
                if(hours==0){ 
                  hours=12;
                }
                else if(hours>12){
                  hours=hours%12;
                  mid='pm';
                }
                
                newHour = hours +':' + minute + mid;
                dateFinal = day +' '+ date.getDate() +' de ' + month +' '+ yr + ' a las ' + newHour;
          
            $('#campo').append('<textarea class=\"com-style\" rows=\"1\" disabled>'+ element.comment +'</textarea>');
            $('#campo').append('<p class =\"com-text\">' + dateFinal + '</p><hr>');
          });
        
      })
      .fail(function(jqXHR, textStatus, errorThrown) { 
        console.log('getJSON request failed! ' + textStatus); 
        $('#comments').hide();

      }); 
    }
        
  });
  

   

/ Formulator create question, include policies for view
/ Formulator create question, include policies for view
.container-questions
  = form_with(model: @question, local: true, class: 'question-form', id: 'question-form', html: {novalidate: true }) do |form|
    - if @question.errors.any?
      #error_explanation
        %h2
          = pluralize(@question.errors.count, "error")
          prohibited this question from being saved:
        %ul
          - @question.errors.full_messages.each do |message|
            %li= message
    %br/
    .row
      .col-md-4
        .form-group
          = form.label :'Categoría', style: "font-weight: bold"
          - if @question.pertinency_approved_at && @question.format_approved_at.blank?
            = form.collection_select :category_id, @categories || [], :id, :name, { include_blank: false }, { class: "form-control", :disabled => "disabled" }
          - if !(@question.pertinency_approved_at && @question.format_approved_at.blank?)
            = form.collection_select :category_id, @categories || [], :id, :name, { include_blank: false }, { class: "form-control" }
      .col-md-4
        .form-group
          = form.label :'Dificultad', style: "font-weight: bold"
          - if @question.pertinency_approved_at && @question.format_approved_at.blank?
            = form.select :difficulty, Question.difficulties.map { |key, value| [key.humanize, key] }, { include_blank: false }, { class: "form-control", :disabled => "disabled"  }
          - if !(@question.pertinency_approved_at && @question.format_approved_at.blank?)
            = form.select :difficulty, Question.difficulties.map { |key, value| [key.humanize, key] }, { include_blank: false }, { class: "form-control" }
      .col-md-4
        .form-group
          = form.label :tag_list, :'Área', style: "font-weight: bold"
          - if @question.pertinency_approved_at && @question.format_approved_at.blank?
            = form.collection_select :area_id, Area.all, :id, :name, { include_blank: false }, { class: "form-control", :disabled => "disabled" }
          - if !(@question.pertinency_approved_at && @question.format_approved_at.blank?)
            = form.collection_select :area_id, Area.all, :id, :name, { include_blank: false }, { class: "form-control" }
    .row
      .col-md-8
        .form-group
          = form.label :'Pregunta:', style: "font-weight: bold"
          = form.hidden_field :definition, class: "form-control", rows: '3', :required => true
          .invalid-feedback
            Campo obligatorio
          #questiondefinition.ck-question
          #questiondefinition_validate
      .col-md-4
        .form-group
          = form.label :'Imagen de Pregunta:', style: "font-weight: bold"
          = form.file_field :images, multiple: true
    .row
      .col-md-8
        .container{style: "background-color: #dddddd; padding-left:40px;"}
          .row
            .col-md-6
              .row
                .col-xs-12.col-md-9.content-alternatives
                  .form-group
                    = form.label 'Alternativa A:', style: "font-weight: bold"
                    = form.hidden_field :alt_a, class: "form-control", value: "#{ @question&.alternatives[0]&.description }", :required => true
                    #alt_a.alternatives-question.form-control
                    #alt_a_validate
                .col-xs-2{style: "margin-left: 20px;"}
                  = form.file_field :alt_a_image
            .col-md-6
              .row
                .col-xs-12.col-md-9.content-alternatives
                  .form-group
                    = form.label 'Alternativa B:', style: "font-weight: bold"
                    = form.hidden_field :alt_b, class: "form-control", value: "#{ @question&.alternatives[1]&.description }", :required => true
                    #alt_b.alternatives-question
                    #alt_b_validate
                .col-xs-2{style: "margin-left: 20px;"}
                  = form.file_field :alt_b_image
          .row
            .col-md-6
              .row
                .col-xs-12.col-md-9.content-alternatives
                  .form-group
                    = form.label 'Alternativa C:', style: "font-weight: bold"
                    = form.hidden_field :alt_c, class: "form-control", value: "#{ @question&.alternatives[2]&.description }", :required => true
                    #alt_c.alternatives-question
                    #alt_c_validate
                .col-xs-2{style: "margin-left: 20px;"}
                  = form.file_field :alt_c_image
            .col-md-6
              .row
                .col-xs-12.col-md-9.content-alternatives
                  .form-group
                    = form.label 'Alternativa D:', style: "font-weight: bold"
                    = form.hidden_field :alt_d, class: "form-control", value: "#{ @question&.alternatives[3]&.description }", :required => true
                    .invalid-feedback
                      Campo obligatorio
                    #alt_d.alternatives-question
                    #alt_d_validate
                .col-xs-2{style: "margin-left: 20px; "}
                  = form.file_field :alt_d_image
          .row
            .col-md-6
              .row
                .col-xs-12.col-md-9.content-alternatives
                  .form-group
                    = form.label 'Alternativa E:', style: "font-weight: bold"
                    = form.hidden_field :alt_e, class: "form-control", value: "#{ @question&.alternatives[4]&.description }", :required => true
                    #alt_e.alternatives-question
                    #alt_e_validate
                .col-xs-2{style: "margin-left: 20px;"}
                  = form.file_field :alt_e_image
      .col-md-4
        .form-group
          = form.label 'Alternativa Correcta:', style: "font-weight: bold"
          - if (@question.pertinency_approved_at && @question.format_approved_at.blank?)
            = form.collection_select :order, Constants::ALTERNATIVES, :id, :name, { include_blank: false, selected: @question&.answer&.order }, { class: "form-control", :disabled => "disabled" }
          - if !(@question.pertinency_approved_at && @question.format_approved_at.blank?)
            = form.collection_select :order, Constants::ALTERNATIVES, :id, :name, { include_blank: false, selected: @question&.answer&.order }, { class: "form-control" }
        %br/
        .form-group
          = form.label :'Justificación:', style: "font-weight: bold"
          = form.hidden_field :explanation, class: "form-control", rows: '3', :required => true
          .invalid-feedback
            Campo obligatorio
          #questionexplanation.ck-question
          #questionexplanation_validate
    %br/
    -if @question.status == "observed"
      %hr/
      .row#comments
        .col-md-8
          .form-group
            %label
              %strong Historial de Comentarios:
            #campo

    %div
      .actions{style: "float: right", :disabled=>"true"}
        = form.button :submit, id: 'submit-question-form', class: "btn btn-primary", hidden: true do
          %span.material-icons{style: "vertical-align: middle;"} save
          Guardar
        &nbsp;&nbsp;
        %button#action-sub.btn.btn-primary{:type => "button"}
          %span.material-icons{style: "vertical-align: middle;"} save
          Guardar
        //- if policy(:question).index_formulator?
        //  = link_to 'Cancelar', questions_index_formulator_path, class:'btn btn-dark'
        //- elsif policy(:question).index_reviewer?
        //  = link_to 'Cancelar', questions_index_reviewer_path, class:'btn btn-dark'
        //- elsif policy(:question).index_operator?
        //  = link_to 'Cancelar', questions_index_operator_path, class:'btn btn-dark'
        - if (@question.pertinency_approved_at && @question.format_approved_at.blank?)
          = link_to 'Cancelar', questions_index_reviewer_path, data: {turbolinks: false}, class:'btn btn-dark'

        - if !(@question.pertinency_approved_at && @question.format_approved_at.blank?)
          = link_to 'Cancelar', questions_index_formulator_path, data: {turbolinks: false}, class:'btn btn-dark'

  .actions{style: "float: left"}

  - if @question.id && !(@question.pertinency_approved_at && @question.format_approved_at.blank?)
    = button_to send_question_to_review_question_path(@question), class: "btn btn-info" do
      %span.material-icons{style: "vertical-align: middle;"} how_to_vote
      Enviar pregunta
  - if @question.pertinency_approved_at && @question.format_approved_at.blank?
    %a.btn.btn-primary{"data-todo" => {"id": "#{@question.id}", "action": "1"}, "data-toggle": "modal", href: "#confirmModal"}
      %b Aprobar Pregunta


