.card.container-questions
  - if (@question.pertinency_approved_at && @question.format_approved_at.blank?)
    %h2 
      %b Revisar Pregunta
  - if !(@question.pertinency_approved_at && @question.format_approved_at.blank?)
    %h2 
      %b Editar Pregunta
  = render 'form', question: @question
  .actions{style: "float: right"}

  = render('/layouts/confirm_modal_question', object:@question, message: 'message')
