.container-questions
  %h2 Editar Pregunta - Formulador
  / Formulator create question, include policies for view
  / Formulator create question, include policies for view
  .container-questions
    = form_with(model: @question, local: true, id: 'question-form') do |form|
      .border-content.border{style: "padding: 0.5rem;"}
        .row
          .col-md-6
            .form-group
              = form.label :'Categoría', style: "font-weight: bold"
              = form.collection_select :category_id, Category.all, :id, :name, { include_blank: false }, { class: "form-control" }
          .col-md-6
            .form-group
              = form.label :'Dificultad', style: "font-weight: bold"
              = form.select :difficulty, Question.difficulties.map { |key, value| [key.humanize, key] }, { include_blank: false }, { class: "form-control" }
        .row
          .col-md-8
            .form-group
              = form.label :'Pregunta:', style: "font-weight: bold"
              = form.text_area :definition, class: "form-control", rows: '3'
          .col-md-4
            .form-group
              = form.label :'Imagen de Pregunta:', style: "font-weight: bold"
              = form.file_field :images, multiple: true
      .row
        .col-md-12
          .container{style: "background-color: #dddddd; padding-left:40px;"}
            .row
              .col-md-6
                .row
                  .col-xs-10
                    .form-group
                      = form.label 'Alternativa A:', style: "font-weight: bold"
                      = form.text_field :alt_a, class: "form-control", value: "Alternative A"
                  .col-xs-2{style: "margin-left: 10px; padding-top: 5px; padding-bottom: 30px"}
                    = form.file_field :alt_a_image
              .col-md-6
                .row
                  .col-xs-10
                    .form-group
                      = form.label 'Alternativa B:', style: "font-weight: bold"
                      = form.text_field :alt_b, class: "form-control", value: "Alternative B"
                  .col-xs-2{style: "margin-left: 10px; padding-top: 5px; padding-bottom: 30px"}
                    = form.file_field :alt_b_image
            .row
              .col-md-6
                .row
                  .col-xs-10
                    .form-group
                      = form.label 'Alternativa C:', style: "font-weight: bold"
                      = form.text_field :alt_c, class: "form-control", value: "Alternative D"
                  .col-xs-2{style: "margin-left: 10px; padding-top: 5px; padding-bottom: 30px"}
                    = form.file_field :alt_c_image
              .col-md-6
                .row
                  .col-xs-10
                    .form-group
                      = form.label 'Alternativa D:', style: "font-weight: bold"
                      = form.text_field :alt_d, class: "form-control", value: "Alternative C"
                  .col-xs-2{style: "margin-left: 10px; padding-top: 5px; padding-bottom: 30px"}
                    = form.file_field :alt_d_image


      %br/
      .border-content.border{style: "padding: 0.5rem;"}
        .row
          .col-md-4
            .form-group
              = form.label 'Alternativa Correcta:', style: "font-weight: bold"
              = form.collection_select :order, Constants::ALTERNATIVES, :id, :name, { include_blank: false, selected: @question&.answer&.order }, { class: "form-control" }
        .row
          .col-md-12
            .form-group
              = form.label :'Justificación:', style: "font-weight: bold"
              = form.text_area :explanation, class: "form-control", rows: '3', id: 'justify_editor'

      %br/
      %div
        .actions{style: "float: right"}
          = form.button :submit, class: "btn btn-info" do
            %span.material-icons{style: "vertical-align: middle;"} save
            Guardar Cambios
        .actions{style: "float: left"}
          = link_to 'Cancelar', questions_index_formulator_path, class:'btn btn-dark'
          = form.button :submit, class: "btn btn-info" do
            %span.material-icons{style: "vertical-align: middle;"} how_to_vote
            Enviar pregunta

      %br/
      %button
        #test
          Testeo


  :javascript

    let q_editor;
    ClassicEditor
        .create( document.querySelector( '#definition' ))
        .then( newEditor => {
          q_editor = newEditor;
        })
        .catch( error => {
          console.error( error );
        });

    ClassicEditor
        .create( document.querySelector( '#justify_editor' ))
        .catch( error => {
            console.error( error );
        } );

  :javascript
    $('#test').click(function() {
      const editorData = q_editor.getData() //esto para guardar
      console.log('Editor Data', editorData)
    });
    $( "#question-form" ).submit(function( event ) {
      const editorData = q_editor.getData() //esto para guardar
      console.log('Editor Data', editorData)
      console.log( "Handler for .submit() called." );
      event.preventDefault();
    });
  .actions{style: "float: right"}
  = render('/layouts/confirm_modal_question', object:@question, message: 'message')
