.container-questions
  %div
  .row
    %div
    .col-md-6
      %h2 
        %b Gestión de Preguntas - Operador
  
  %br/
  %br/
  .table-responsive
    %table#pagination.table.table-striped.table-bordered
      %thead
        %tr
          %th 
            %a ID
          %th 
            %a Categoría
          %th 
            %a Formulador
          %th 
            %a Creación
          %th 
            %a Envio
          %th 
            %a Detalle
          %th{style: "text-align:center;"}  
            %a Comentarios
          %th 
            %a Estado
          %th{ style: "text-align:center;"} 
            %a Acciones
      %tbody
        - @questions.each do |question|
          %tr
            %td= question.id
            %td= question.category.name
            %td= question.formulator.full_name
            %td= time_ago_in_words question.created_at
            -if question.format_approved_at != nil
              %td= time_ago_in_words question.format_approved_at
            -else 
              %td -
            %td
              %a.btn.btn-dark{"data-todo" => {"id": "#{question.id}"}, "data-toggle": "modal", href: "#showModal"}
                %span.material-icons{style: "vertical-align: middle;"} visibility
            %td{align: "center"}
              %a.btn.btn-dark{"data-todo" => {"id": "#{question.id}"}, "data-toggle": "modal", href: "#commentModal"}
                %span.material-icons{style: "vertical-align: middle;"} announcement
            %td= question.status
            %td
              - if question.pertinency_approved_at.blank? || question.format_approved_at.blank?
                %a.btn.btn-primary{"data-todo" => {"id": "#{question.id}"}, "data-toggle": "modal", href: "#assignModal"}
                  %span.material-icons{style: "vertical-align: middle;"}> assignment_ind
              %a.btn.btn-success{"data-todo" => {"id": "#{question.id}", "action": "1"}, "data-toggle": "modal", href: "#confirmModal"}
                %span.material-icons{style: "vertical-align: middle;"} done
              %a.btn.btn-danger{"data-todo" => {"id": "#{question.id}", "action": "0"}, "data-toggle": "modal", href: "#confirmModal"}
                %span.material-icons{style: "vertical-align: middle;"} clear
= render('/layouts/show_modal')
= render('/layouts/comments_modal')
= render('/layouts/assign_modal_question')
= render('/layouts/confirm_modal_question')
