.container-questions
  %div
  .row
    %div
    .col-md-6
      %h2
        %b Gestión de Preguntas - Revisor

  %br/
  %br/
  .table-responsive
    %table#pagination.table.table-striped.table-bordered
      %thead{:align => "center"}
        %tr.header-table
          %th
            %a ID
          %th
            %a Categoría
          %th
            %a Creación
          %th
            %a Envío
          %th
            %a Estado
          %th{style: "text-align:center;"}
            %a Acciones
      %tbody
        - @questions.each do |question|
          %tr
            %td= question.id
            %td{:align => "center"}= question.category.name
            %td{:align => "center"}= question.created_at
            %td{:align => "center"}= question.format_approved_at
            %td{:align => "center"}= question.status
            %td{:align => "center"}
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;\">edit</span> Pertinencia"), question, class: "btn btn-dark" if question.pertinency_approved_at.blank?
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;\">color_lens</span> Estilo"), edit_question_path(question), class: "btn btn-info" if question.pertinency_approved_at && question.format_approved_at.blank?
              //= link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;\">edit</span> Test"), '/questions/edit_reviewer', class: "btn btn-primary"
  %br/
