/ Operator index, include policies for view
/ Operator index, include policies for view
.container-questions
  %div
  .row
    %div
    .col-md-6
      %h2
        %b Banco de Preguntas

  %br/
  .table-responsive
    %table#pagination.table.table-striped.table-bordered
      %thead{:align => "center"}
        %tr
          %th 
            %a ID
          %th 
            %a Categoría
          %th 
            %a Creación
          %th 
            %a Aprobación Pertinencia
          %th 
            %a Aprobación Estilo
          %th 
            %a Detalle
          %th 
            %a Estado
      %tbody
        - @questions.each do |question|
          %tr
            %td{:align => "center"}= question.id
            %td{:align => "center"}= question.category.name
            %td{:align => "center"}= question.created_at
            %td{:align => "center"}= question.pertinency_approved_at
            %td{:align => "center"}= question.format_approved_at
            %td
              %a.btn.btn-dark{"data-todo" => {"id": "#{question.id}"}, "data-toggle": "modal", href: "#showModal"}
                %span.material-icons{style: "vertical-align: middle;"} visibility
            %td= question.status
            = render '/layouts/show_modal', object:question
