.container-questions
  %div
  .row
    %div
    .col-md-6
      %h2
        %b Gestión de Preguntas - Formulador
    .col-md-6.d-flex.right-panel
      = link_to new_question_path, data: {turbolinks: false}, class: "btn btn-primary add-button" do
        %span{class: "material-icons"} add
        Nueva Pregunta
  .table-responsive
    %table#pagination.table.table-striped.table-bordered
      %thead{:align => "center"}
        %tr
          %th
            %a ID
          %th
            %a Categoría
          %th
            %a Área
          %th
            %a Dificultad
          %th
            %a Descripción
          %th
            Fecha de Creación
          %th
            Estado
          %th{style: "text-align:center;"}
            %a Acciones
      %br/
      %br/
      %tbody
        - @questions.each do |question|
          %tr
            %td{:align => "center"}= question.id
            %td{:align => "center"}= question.category.name
            %td{:align => "center"}= question.area.name
            %td{:align => "center"}= question.difficulty
            %td{:align => "center"}
              %a.btn.btn-link{"data-todo" => {"id": "#{question.id}"}, "data-toggle": "modal", href: "#showModal"}
                %span.material-icons{style: "vertical-align: middle; color:#393D42;"} visibility
            %td{:align => "center"}= question.created_at
            %td{:align => "center"}= question.status
            %td{:align => "center"}

              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;\">edit</span>"), edit_question_path(question),class: "btn btn-link"
              // = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;\">edit</span> Test"), '/questions/edit_formulator', class: "btn btn-primary"
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle; color:red;\">delete</span>"), question, data: {toggle: "modal", target: "#deleteModal-#{question.id}"} , class: "btn btn-link" 
          = render '/layouts/show_modal', object:question
          = render '/layouts/delete_modal', object: question, message:"Está a punto de eliminar la pregunta #{question.id}. ¿Seguro de realizar esta acción?"
  %br/
