
.container
  .row
    %h3 Información del Revisor de Pertinencia
    .col-12
      %h4 Preguntas Revisadas:
      %h6=@pertinency_reviewed_counter


.container
  .row
    %h3 Información del Revisor de Estilo
    .col-12
      %h4 Preguntas Revisadas:
      %h6=@format_reviewed_counter