:javascript
  $(document).on('turbolinks:load', function() {

    //Setting values
    var question_def_edit = $("#question_disabled").val();
    var question_expl_edit = $("#explanation_disabled").val();
    var val_a_edit = $("#question_alt_a").val();
    var val_b_edit = $("#question_alt_b").val();
    var val_c_edit = $("#question_alt_c").val();
    var val_d_edit = $("#question_alt_d").val();
    var val_e_edit = $("#question_alt_e").val();
    
    $("#questiondefinition_review").html(question_def_edit);
    $("#questionexplanation_review").html(question_expl_edit);
    $("#alt_a_review").html(val_a_edit);
    $("#alt_b_review").html(val_b_edit);
    $("#alt_c_review").html(val_c_edit);
    $("#alt_d_review").html(val_d_edit);
    $("#alt_e_review").html(val_e_edit);

         $.getJSON('/questions/#{@question.id}/comments.json', function(data) {
           console.log('retrieving this: ', data)
           //$('#campo').append('<p>Hola</p>')
           data.forEach(element => {
           dayOfWeekName = ['Dom','Lun','Mar','Mie','Jue','Vie','Sab'],
           monthName = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"];
                 
             var date    = new Date(element.created_at),
                 yr      = date.getFullYear(),
                 month   = monthName[date.getMonth()],
                 day     = dayOfWeekName[date.getDay()],
                 hour    =  date.getHours();
                 minute  = date.getMinutes();
                 var hours = (date.getHours()+24-2)%24; 
                 var mid='am';
                 if(hours==0){ 
                   hours=12;
                 }
                 else if(hours>12){
                   hours=hours%12;
                   mid='pm';
                 }
                 
                 newHour = hours +':' + minute + mid;
                 dateFinal = day +' '+ date.getDate() +' de ' + month +' '+ yr + ' a las ' + newHour;
           
             $('#campo').append('<textarea class=\"com-style\" rows=\"1\" disabled>'+ element.comment +'</textarea>');
             $('#campo').append('<p class =\"com-text\">' + dateFinal + '</p><hr>');
           });
           /*
             //Código con un iterador para mostrar los comentarios que ya tenia la pregunta
           */
         
         });

         $('#customSwitch').change(function () {
            if ($(this).is(':checked')) { $('#comment').prop( "disabled", false ) }
            else{ $('#comment').prop( "disabled", true ) }
         });

         $('#button_click').click(function(){
           var data = {
             comment: {
               comment: $('#comment').val()
             }
           }
           if ($.trim($('#comment').val()).length > 0){
            let object = JSON.stringify(data)
            $.ajax({
                url: '/questions/#{@question.id}/comments',
                type: "POST",
                data: object,
                contentType: "application/json",
                dataType: "json",
                async: true,
                success: function (msg, response) {
                    if(response == 'success'){
                      console.log('response: ', msg)
                      //Implementar función para que se agregue el comentario a la lista de los anteriores
                    }
                },
                cache: false
            });
            location.reload();
           }
           else{
              $("#alert-comment-validator").html('<div class="alert alert-danger">  No se puede agregar un comentario vacío.</div>');
           }
         })
     });
.container-questions
  #alert-comment-validator{ :style => "position: fixed; left: 200px; top: 40px;  width: 100%" }
  %br/
  .row
    .col-md-4
      .form-group
        %label
          %strong Categoría
        %input#category_id.form-control{:disabled => "disabled", type: "text", value: "#{@question.category.name}"}/
    .col-md-4
      .form-group
        %label
          %strong Dificultad:
        %input#dificulty_id.form-control{:disabled => "disabled", type: "text", value: "#{@question.difficulty}"}/
    .col-md-4
      .form-group
        %label
          %strong Tags
        %input#tag_list.form-control{:disabled => "disabled", type: "text", value: "#{@question.tag_list}"}/
  .row
    .col-md-8
      .form-group
        %label
          %strong Pregunta:
        %textarea#question_disabled.form-control{:readonly => "true", :rows => "3", :hidden => "true"}= @question.definition
        #questiondefinition_review.ck-question_review

    .col-md-4
      .form-group
        %label
          %strong Imagen de Pregunta:
        %br/
        
  .row
    .col-md-8
      .container.container-alternatives
        .row
          .col-md-6
            .form-group
              %label
                %strong Alternativa A
              / 
              %input#question_alt_a.form-control{:disabled => "disabled", :hidden=> "true", type: "email", value: "#{@question.alternatives.order(:order)[0].description}"}/
              #alt_a_review.alternatives-question_review
          .col-md-6
            .form-group
              %label
                %strong Alternativa B
              %input#question_alt_b.form-control{:disabled => "disabled", :hidden=> "true", type: "email", value: "#{@question.alternatives.order(:order)[1].description}"}/
              #alt_b_review.alternatives-question_review
        .row
          .col-md-6
            .form-group
              %label
                %strong Alternativa C
              %input#question_alt_c.form-control{:disabled => "disabled",  :hidden=> "true",type: "email", value: "#{@question.alternatives.order(:order)[2].description}"}/
              #alt_c_review.alternatives-question_review
          .col-md-6
            .form-group
              %label
                %strong Alternativa D
              %input#question_alt_d.form-control{:disabled => "disabled", :hidden=> "true", type: "email", value: "#{@question.alternatives.order(:order)[3].description}"}/
              #alt_d_review.alternatives-question_review
        .row
          .col-md-6
            .form-group
              %label
                %strong Alternativa E
              %input#question_alt_e.form-control{:disabled => "disabled", :hidden=> "true", value: "#{@question.alternatives.order(:order)[4].description}"}/
              #alt_e_review.alternatives-question_review
    .col-md-4
      .form-group
        %label
          %strong Alternativa Correcta:
        %input#disabledTextInput.form-control{:disabled => "disabled", type: "text", value: "#{Constants::ALTERNATIVES[@question.answer.order].name}"}/
      %br/
      .form-group
        %label
          %strong Justificación:
        %textarea#explanation_disabled.form-control{:disabled => "disabled", :rows => "3", :hidden => "true"}= @question.explanation
        #questionexplanation_review.ck-question_review
  %hr/
  .row
    .col-md-8
      .form-group
        %label
          %strong Historial de Comentarios:
        #campo
  .row
    .col-md-8.custom-control.custom-switch
      .form-group
        %input#customSwitch.custom-control-input{name: "customSwitch", type: "checkbox"}/
        %label.custom-control-label{for: "customSwitch"}
          %strong Comentarios Activados
    .col-md-8
      .form-group
        %textarea#comment.com-style2{:disabled => "disabled", name: "comment", :rows => "3"}
    

  %br/
  %div
    .actions{style: "float: right"}
      %button#button_click.btn.btn-info{style: "color: white; font-weight: bold"}
        Agregar Comentario
  %br/
  
      
  %br/
  %div
    .actions{style: "float: left"}
      = link_to 'Cancelar', questions_index_reviewer_path, data: {turbolinks: false}, class:'btn btn-dark'
    
    .actions{style: "float: right"}
      - if can_be_observed?(@question)
        %a.btn.btn-warning{"data-todo" => {"id": "#{@question.id}", "action": "2"}, "data-toggle": "modal", href: "#confirmModal"}
          Observar Pregunta
     
      %a.btn.btn-primary{"data-todo" => {"id": "#{@question.id}", "action": "1"}, "data-toggle": "modal", href: "#confirmModal"}
        Aprobar Pregunta
    = render('/layouts/confirm_modal_question', object:@question, message: 'message')
