.card.signin-card
  .card-body.card-body-login
    %h3.text-center
      %strong Iniciar Sesión
    %br/
    %div
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          %span.material-icons{style: "vertical-align: middle;"} person
          = f.label :email, value: "Correo Electrónico"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm"
        .form-group
          %span.material-icons{style: "vertical-align: middle;"} lock
          = f.label :password, value: "Contraseña"
          %br/
          = f.password_field :password, autocomplete: "current-password", class: "form-control form-control-sm"
        %br/
        .text-center
          = f.submit "Ingresar al Sistema", class: "btn btn-primary"
          %br/
          %br/
          = render "devise/shared/links"
