= form_with(model: category_speciality, local: true) do |form|
  - if category_speciality.errors.any?
    #error_explanation
      %h2
        = pluralize(category_speciality.errors.count, "error")
        prohibited this category_speciality from being saved:
      %ul
        - category_speciality.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit
