%h1 Category Specialities
%table
  %thead
    %tr
      %th{colspan: "3"}
  %tbody
    - @category_specialities.each do |category_speciality|
      %tr
        %td= link_to 'Show', category_speciality
        %td= link_to 'Edit', edit_category_speciality_path(category_speciality)
        %td= link_to 'Destroy', category_speciality, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Category Speciality', new_category_speciality_path
