.form-content
  %br
  = form_with(model: speciality, local: true, class: 'question-form', id: 'question-form', html: {novalidate: true }) do |form|
    - if speciality.errors.any?
      #error_explanation
        %h2
          = pluralize(speciality.errors.count, "error")
          prohibited this speciality from being saved:
        %ul
          - speciality.errors.full_messages.each do |message|
            %li= message
    .form-group
      %span.material-icons{style: "vertical-align: middle;"} person
      = form.label :'Ingrese nombre de la especialidad', style: "font-weight: bold"
      = form.text_field :name, maxlength: "50",class: "form-control", :required => true
      .invalid-feedback
        Campo obligatorio

    .actions{style: "float: right"}
      = form.submit 'Guardar',data: {turbolinks: false}, class: "btn btn-primary"
      = link_to 'Cancelar', specialities_path,data: {turbolinks: false}, class: "btn btn-danger"
