.container-questions
  .row.content-header
    .col-md-6
      %h2
        %b Administración de Especialidades
    .col-md-6.d-flex.right-panel
      = link_to new_speciality_path, class: "btn btn-primary add-button" do
        %span{class: "material-icons"} add
        Nueva Especialidad

  .table-responsive
    %table#pagination.table.table-striped.table-bordered
      %thead
        %tr
          %th
            %a Nombre
          %th
            %a Cantidad
          %th{style: "text-align:center;"}
            %a Acciones
      .float-right

      %br/
      %br/
      %tbody
        - @specialities.each do |speciality|
          %tr
            %td= speciality.name
            %td n
            %td{:align => "center"}
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;\">visibility</span>"), speciality, data: {turbolinks: false}, class: "btn btn-link"
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;  color:black;\">edit</span>"), edit_speciality_path(speciality),data: {turbolinks: false}, class: "btn btn-link"
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;  color:red;\">delete</span>"), speciality, method: :delete, data: { confirm: 'Estas seguro?' } , class: "btn btn-link"
    %br/
