.card.container-especialidades
  %h2
    Detalle de Especialidad #{@speciality.name}
  %p
  .form-group
    %label
      %span.material-icons{style: "vertical-align: middle;"} person
      %strong Nombre de la especialidad:
    %br/
    %input.form-control.form-control-sm{:readonly => "readonly", style: "height: 40px", type: "text", value: "#{@speciality.name}"}/
  .form-group
    %label
      %span.material-icons{style: "vertical-align: middle; "} folder
      %strong Categoria a la que corresponde la Especialidad:
    %br/
    %input.form-control.form-control-sm{:readonly => "readonly", style: "height: 40px", type: "text", value: "x"}/
  .form-group
    %label
      %span.material-icons{style: "vertical-align: middle;"} exposure
      %strong Cantidad de usuarios con esta especialidad:
    %br/
    %input.form-control.form-control-sm{:readonly => "readonly", style: "height: 40px", type: "text", value: "n"}/
  .float-right
    = link_to 'Editar', edit_speciality_path(@speciality),data: {turbolinks: false}, class: "btn btn-primary"
    = link_to 'Regresar', specialities_path,data: {turbolinks: false}, class: "btn btn-danger"
  %br/
  %br/
