/ Start modal part
.modal.fade{id: "activeModal-#{object.id}", tabindex: "-1", role: "dialog", "aria-labelledby": "exampleModalLabel", "aria-hidden": "true"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title 
          %b= object.active? ? "Desactivar Convocatoria" : "Activar Convocatoria"
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} ×
      .modal-body
        = message
      .modal-footer
        = link_to 'Aceptar', switch_status_call_path(object), method: :post, class: "btn btn-primary"
        %button.btn.btn-secondary{"data-dismiss": "modal", type: "button"} Cancelar
/ End modal part

