.form-content
  %h3.pl-4.mb-3 Agregar Formuladores
  = form_with url: add_formulator_call_path(call), scope: 'call', local: true, class: "form-inline mb-3" do |form|
    .row.col-sm-12.mb-3
      .col-lg-4.col-sm-12
        = form.collection_select :formulator_id, formulators, :id, :full_name, { prompt: 'Elija al Formulador' }, {required: true}
      .col-lg-4.col-sm-12
        = form.collection_select :category_ids, categories, :id, :name, { prompt: 'Seleccionar Categorias' }, { multiple: true, class: 'form-control', required: true }
      .col-lg-1.col-sm-12
        = form.label :'Preguntas Biomédicas:'
        = form.text_field :biomedical_questions_limit, maxlength: "3", class: "form-control", :required => true
      .col-lg-1.col-sm-12
        = form.label :'Preguntas Sociales:'
        = form.text_field :social_questions_limit, maxlength: "3", class: "form-control", :required => true
      .col-lg-1.col-sm-12
        = form.label :'Preguntas Ingenierias:'
        = form.text_field :engineering_questions_limit, maxlength: "3", class: "form-control", :required => true
      .col-lg-1.col-sm-12
        %button.btn.btn-primary{:type => "submit"} Agregar
    
    .row.col-sm-8
      
  .table-responsive
    %table.table.table-striped.table-bordered
      %thead{:align => "center"}
        %tr
          %th 
            %a ID
          %th 
            %a Nombre
          %th{col: '4'} 
            %a Categorias
          %th
            %a Límite Preguntas Biomédicas
          %th
            %a Límite Preguntas Sociales
          %th
            %a Límite Preguntas Ingenierias
          %th
            %a Acciones
      %tbody
        - @current_formulators_ids.each do |user_call|
          %tr
            %td= user_call.user.id
            %td= user_call.user.full_name
            %td= user_call.categories.pluck(:name).join(', ')
            %td= user_call.biomedical_questions_limit
            %td= user_call.social_questions_limit
            %td= user_call.engineering_questions_limit
            %td
              = link_to '#', data: {target: '#modalEditCategoriesForm', toggle: 'modal', categories: user_call.categories.ids.join(','), name: user_call.user.full_name, user_call_id: user_call.id, call_id: call.id } do
                %span.btn.btn-link{class: "material-icons", style: "vertical-align: middle; color:black;" } edit

  = render 'edit_formulator_categories', categories: categories, call: call
