.form-content
  %h3.pl-4.mb-3 Agregar Revisores de Pertinencia
  = form_with url: add_pertinency_reviewer_call_path(call), scope: 'call', local: true, class: "form-inline mb-3" do |form|
    .row
      .col-md-3.col-sm12
        = form.collection_select :pertinency_reviewer_id, pertinency_reviewers, :id, :full_name, { prompt: 'Elija al Revisor de Pertinencia' }, {required: true}

    %button.btn.btn-primary{:type => "submit"} Agregar

  .table-responsive
    %table.table.table-striped.table-bordered
      %thead{:align => "center"}
        %tr
          %th 
            %a ID
          %th 
            %a Nombre
      %tbody
        - @current_pertinency_reviewers_ids.each do |user_call|
          %tr
            %td= user_call.user.id
            %td= user_call.user.full_name
