:javascript
  $(document).on('turbolinks:load', function(){
    
  });


#modalEditCategoriesForm.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header.text-center.mb-4
        %h5#user-name.modal-title.w-100.font-weight-bold
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.mx-3
        = form_with url: '#', method: :post, scope: 'user_call', local: true, class: "md-form mb-5", id: 'user_call_form' do |form|
          .row.col-s12
            %h5 Categorias
            = form.collection_select :category_ids, categories, :id, :name, { prompt: 'Seleccionar Categorias' }, { multiple: true, class: 'form-control', required: true }
            = form.submit 'Guardar', class: "btn btn-primary mt-4 w-100"
