.form-content
  = form_with(model: call, local: true, class: 'question-form', id: 'question-form', html: {novalidate: true }) do |form|
    - if call.errors.any?
      #error_explanation
        %h2
          = pluralize(call.errors.count, "error")
          prohibited this call from being saved:
        %ul
          - call.errors.full_messages.each do |message|
            %li= message
    .form-group
      = form.label :'Nombre', style: "font-weight: bold"
      = form.text_field :name, maxlength: "50", class: "form-control", :required => true
      .invalid-feedback
        Campo obligatorio

    .form-group
      = form.label :'Inicia'
      = form.date_field :starts_at, class: "form-control", :required => true
      .invalid-feedback
        Campo obligatorio
        
    .form-group
      = form.label :'Termina'
      = form.date_field :ends_at, class: "form-control", :required => true                                              |
      .invalid-feedback
        Campo obligatorio
    .actions{style: "float: right"}
      = form.submit 'Guardar', class: "btn btn-primary"
      = link_to 'Cancelar', calls_path, class: "btn btn-dark"
