.container-questions
  .row.content-header
    .col-md-6
      %h2
        %b Convocatorias
    .col-md-6.d-flex.right-panel
      = link_to new_call_path, data: {turbolinks: false}, class: "btn btn-primary add-button" do
        %span{class: "material-icons"} add
        Nueva Convocatoria

  .table-responsive
    %table#pagination.table.table-striped.table-bordered
      %thead{:align => "center"}
        %tr
          %th 
            %a ID
          %th 
            %a Nombre
          %th 
            %a Inicio
          %th 
            %a Fin
          %th 
            %a Estado
          %th{col: "2"}
            %a Acciones
      %tbody
        - @calls.each do |call|
          %tr
            %td= call.id
            %td= link_to call.name, call_path(call)
            %td= call.starts_at.strftime("%B %d, %Y %A")
            %td= call.ends_at.strftime("%B %d, %Y %A")
            %td{:align => "center"}
              %a.btn.btn-link{"data-todo" => {"id": "#{call.id}"}, "data-toggle": "modal", href: "#activeModal-#{call.id}"}
                %span.material-icons{style: "vertical-align: middle;", class: call.active? ? 'text-success' : 'text-danger'}= call.active? ? 'flash_on' : 'flash_off'
            = render '/calls/active_modal', object: call, message: "Estás seguro que quieres #{call.active? ? 'inactivar' : 'activar'} esta convocatoria?"
    
            %td
              = link_to call_path(call) do
                %span.material-icons{style: "vertical-align: middle;"} playlist_add
                Agregar Formuladores
            = render '/layouts/show_modal'
