.container-questions
  .row.content-header
    .col-md-6
      %h2
        %b= @call.name
    .col-md-6.d-flex.right-panel
      = link_to 'Regresar', calls_path, class: "btn btn-primary add-button mr-2"
      = link_to edit_call_path(@call), data: {turbolinks: false}, class: "btn btn-primary add-button" do
        %span{class: "material-icons"} edit
        Editar Convocatoria

.form-content
  .card
    .card-body
      %strong Nombre:
      = "#{@call.name}"
  
  .card
    .card-body
      %strong Fecha de Inicio:
      = @call.starts_at.strftime("%B %d, %Y %A")
  
  .card
    .card-body
      %strong Fecha de Término
      = @call.ends_at.strftime("%B %d, %Y %A")
%hr
= render 'add_users', call: @call, formulators: @formulators, categories: @categories

%hr
= render 'add_pertinency_reviewers', call: @call, pertinency_reviewers: @remaining_pertinency_reviewers

%hr
= render 'add_format_reviewers', call: @call, format_reviewers: @remaining_format_reviewers