.container-users
  = form_with(model: user, local: true, class: 'question-form', html: {novalidate: true }) do |form|
    - if user.errors.any?
      #error_explanation
        %h2
          = pluralize(user.errors.count, "error")
          prohibited this user from being saved:
        %ul
          - user.errors.full_messages.each do |message|
            %li= message
    .form-group
      %span.material-icons{style: "vertical-align: middle;"} person
      = form.label :'Ingrese nombres completos'
      = form.text_field :first_name, maxlength: "20", class: "form-control", placeholder: "Nombres", :required => true
      .invalid-feedback
        Campo obligatorio
    .form-group
      %span.material-icons{style: "vertical-align: middle;"} person
      = form.label :'Ingrese apellidos completos'
      = form.text_field :last_name, maxlength: "20", class: "form-control", placeholder: "Apellidos", :required => true
      .invalid-feedback
        Campo obligatorio
    .form-group
      %span.material-icons{style: "vertical-align: middle;"} mail
      = form.label :'Ingrese el correo institucional'
      = form.text_field :email, maxlength: "30", class: "form-control", placeholder: "Correo institucional", :required => true
      .invalid-feedback
        Campo obligatorio
    .form-group   
      %span.material-icons{style: "vertical-align: middle;"} work     
      = form.label :Rol, for: 'user_role_id'
      = form.collection_select :role_id, Role.all, :id, :name, { prompt: 'Seleccionar Especialidad' }, {allowClear: false, theme: 'bootstrap',class: 'form-control', required: true}
      .invalid-feedback
        Campo obligatorio                                                        |  
    .form-group
      %span.material-icons{style: "vertical-align: middle;"} person
      = form.label :'Especialidades', for: 'user_speciality_ids'
      = form.collection_select :speciality_ids, Speciality.all, :id, :name, { prompt: 'Seleccione Especialidad' }, { multiple: true, class: 'form-control', required: true }
      .invalid-feedback
        Campo obligatorio                                                                          |
    .actions{style: "float: right"}
    
      = form.submit 'Guardar', class: "btn btn-primary"
      = link_to 'Cancelar', users_path, class: "btn btn-dark"
