.container-questions
  .row.content-header
    .col-md-6
      %h2
        %b Administración de Usuarios
    .col-md-6.d-flex.right-panel
      = link_to new_user_path, data: {turbolinks: false}, class: "btn btn-primary add-button" do
        %span{class: "material-icons"} add
        Nuevo Usuario
        
  .table-responsive
    %table#pagination.table.table-striped.table-bordered
      %thead{:align => "center"}
        %tr
          %th
            %a Nombres
          %th
            %a Apellidos
          %th
            %a Correo Electrónico
          %th{style: "text-align:center;"}
            %a Acciones

      %br/
      %br/
      %tbody
        - @users.each do |user|
          %tr
            %td= user.first_name
            %td= user.last_name
            %td= user.email
            %td{:align => "center"}
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;\">visibility</span>"), user, class: "btn btn-link" if policy(:user).show?
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;  color:black;\">edit</span>"), edit_user_path(user), data: {turbolinks: false}, class: "btn btn-link" if policy(:user).edit?
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;  color:red;\">delete</span>"), user, data: {toggle: "modal", target: "#deleteModal-#{user.id}"} , class: "btn btn-link" if policy(:user).destroy?
          = render '/layouts/delete_modal', object: user, message:"Está a punto de eliminar el usuario #{user.first_name}. ¿Seguro de realizar esta acción?" if policy(:user).destroy?
    %br/
