:css
  .container {
  padding: 80px;
  border: 1px solid #000000;
  }
  h1 {
      text-align:center;
  }
= alert
.container-roles
  %h2 Cambiar Contraseña
  = form_for(@user, url: update_password_user_path) do |f|
    / form_for @user, url: user_path() do |f|
    / , method: :update_password
    %br/
    .form-group
      %strong Contraseña Actual
      %br/
      = f.password_field :current_password, autocomplete: "current-password" , class: "form-control"
    .form-group
      %strong Contraseña Nueva
      %br/
      = f.password_field :password, autocomplete: "new-password" , class: "form-control"
      - if @minimum_password_length
        %em debe contener una mayúscula, un dígito y un caracter especial.
    .form-group
      %br/
      %strong Confirmación de Contraseña nueva
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
    .actions{style: "float: right"}
      = f.submit "Guardar Cambios" , class: "btn btn-primary"
      = link_to "Regresar", :back, class: "btn btn-dark"
