.container-users
  %h2
    Detalle de Usuario #{@user.first_name}
  %p
  .form-group
    %span.material-icons{style: "vertical-align: middle;"} person
    %label
      %strong Nombres:
    %br/
    %input.form-control.form-control-sm{:readonly => "readonly", style: "height: 40px", type: "text", value: "#{@user.first_name}"}/
  .form-group
    %span.material-icons{style: "vertical-align: middle;"} person
    %label
      %strong Apellidos:
    %br/
    %input.form-control.form-control-sm{:readonly => "readonly", style: "height: 40px", type: "text", value: "#{@user.last_name}"}/
  .form-group
    %span.material-icons{style: "vertical-align: middle;"} mail
    %label
      %strong Email:
    %br/
    %input.form-control.form-control-sm{:readonly => "readonly", style: "height: 40px", type: "text", value: "#{@user.email}"}/
  .form-group
    %span.material-icons{style: "vertical-align: middle;"} people_alt
    %label
      %strong Rol Asignado:
    %br/
    %input.form-control.form-control-sm{:readonly => "readonly", style: "height: 40px", type: "text", value: "#{@user.role.name}"}/
  .form-group
    %span.material-icons{style: "vertical-align: middle;"} people_alt
    %label
      %strong Especialidades:
    %br/
    %input.form-control.form-control-sm{:readonly => "readonly", style: "height: 40px", type: "text", value: "#{@user.specialities.pluck(:name).join(', ')}"}/
  .row.content-header 
    .col-12.d-flex.right-panel
      = link_to 'Regresar', users_path, class: "btn btn-primary add-button mr-2"
      = link_to edit_user_path(@user), data: {turbolinks: false}, class: "btn btn-primary add-button mr-2" do
        %span{class: "material-icons"} edit
        Editar Usuario
      = link_to password_edit_user_path(@user), class: "btn btn-info add-button" do 
        %span{class: "material-icons"} edit
        Cambiar Contraseña

