<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Estimado(a) <%= @formulator.full_name %>,
      la pregunta con id <%= @question.id %> que envió para ser revisada
      ha sido observada con los siguientes comentarios:<br>
      <ul>
      <% @comments.each do |comment| %>
        <li><%= comment.comment  %></li>
      <% end %>
      </ul>
    </p>
    <p>
      Puede ver esta pregunta haciendo click <a href="<%= edit_question_url(@question) %>"> aquí </a>.
    </p>
    <p>Atentamente, Oficina de Admisión</p>
  </body>
</html>