<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Estimado(a) <%= @formulator.full_name %>,
      usted ha sido invitado a participar del proceso de formulación <%= @call.name %>.<br>
    </p>
    <p>
      Este proceso tendrá lugar desde <%= @call.starts_at.strftime("%B %d, %Y") %>
      hasta <%= @call.ends_at.strftime("%B %d, %Y") %>.
    </p>
    <p>
      Las categorías que se le asignaron para este proceso son:
      <ul>
      <% @categories.each do |category| %>
        <li><%= category.name  %></li>
      <% end %>
      </ul>
    </p>
    <p>
      Puede acceder al sistema haciendo click <a href="<%= root_url %>">aquí</a>.
    </p>
    <p>Gracias por su participación!</p>
    <p>Atentamente, Oficina de Admisión</p>
  </body>
</html>