= form_with(model: request, local: true) do |form|
  - if request.errors.any?
    #error_explanation
      %h2
        = pluralize(request.errors.count, "error")
        prohibited this request from being saved:
      %ul
        - request.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :first_name
    = form.text_field :first_name
  .field
    = form.label :last_name
    = form.text_field :last_name
  .field
    = form.label :email
    = form.text_field :email
  .field
    = form.label :aproved
    = form.check_box :aproved
  .actions
    = form.submit
