%h1 Requests
%table
  %thead
    %tr
      %th First name
      %th Last name
      %th Email
      %th Aproved
      %th{colspan: "3"}
  %tbody
    - @requests.each do |request|
      %tr
        %td= request.first_name
        %td= request.last_name
        %td= request.email
        %td= request.aproved
        %td= link_to 'Show', request
        %td= link_to 'Edit', edit_request_path(request)
        %td= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Request', new_request_path
