%p
  %strong First name:
  = @request.first_name
%p
  %strong Last name:
  = @request.last_name
%p
  %strong Email:
  = @request.email
%p
  %strong Aproved:
  = @request.aproved
= link_to 'Edit', edit_request_path(@request)
|
= link_to 'Back', requests_path
