.container-acceproc
  = form_with(model: acceptance_process, local: true) do |form|
    - if acceptance_process.errors.any?
      #error_explanation
        %h2
          = pluralize(acceptance_process.errors.count, "error")
          prohibited this acceptance_process from being saved:
        %ul
          - acceptance_process.errors.full_messages.each do |message|
            %li= message
    .form-group
      %span.material-icons{style: "vertical-align: middle;"} person
      = form.label :Descripcion
      = form.text_field :description
    .actions{style: "float: right"}
      = form.submit 'Guardar', class: "btn btn-primary"
      = link_to 'Cancelar', acceptance_processes_path, class: "btn btn-dark"
