.container-acceproc
  %div
    %h2 Procesos de Aceptación
  .table-responsive
    %table.table.table-striped
      %thead.thead-dark
        %tr
          %th Descripcion
          %th{style: "text-align:center;"} Acciones
      %br/
      .float-right
        = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;\">add</span> Nueva Postulacion"), new_acceptance_process_path, class: "btn btn-primary"
      %br/
      %br/
      %br/
      %tbody
        - @acceptance_processes.each do |acceptance_process|
          %tr
            %td= acceptance_process.description
            %td
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;\">visibility</span> Ver"), acceptance_process, class: "btn btn-outline-info"
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;\">edit</span> Editar"), edit_acceptance_process_path(acceptance_process), class: "btn btn-outline-primary"
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;\">delete</span> Eliminar"), acceptance_process, method: :delete, data: { confirm: 'Estas Seguro de Eliminar?' }, class: "btn btn-outline-danger"
    %br/
