.container-acceproc
  %h2 Detalle de Postulacion
  %p
  .form-group
    %label
      %strong Description:
    %br/
    %input.form-control.form-control-sm{:readonly => "readonly", style: "height: 40px", type: "text", value: "#{@acceptance_process.description}"}/
  .float-right
    = link_to 'Editar', edit_acceptance_process_path(@acceptance_process), class: "btn btn-primary"
    = link_to 'Regresar', acceptance_processes_path, class: "btn btn-dark"
