= form_with(model: candidate, local: true) do |form|
  - if candidate.errors.any?
    #error_explanation
      %h2
        = pluralize(candidate.errors.count, "error")
        prohibited this candidate from being saved:
      %ul
        - candidate.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :first_name
    = form.text_field :first_name
  .field
    = form.label :last_name
    = form.text_field :last_name
  .field
    = form.label :email
    = form.text_field :email
  .field
    = form.label :certificate
    = form.text_field :certificate
  .actions
    = form.submit
