%h1 Candidates
%table
  %thead
    %tr
      %th First name
      %th Last name
      %th Email
      %th Certificate
      %th{colspan: "3"}
  %tbody
    - @candidates.each do |candidate|
      %tr
        %td= candidate.first_name
        %td= candidate.last_name
        %td= candidate.email
        %td= candidate.certificate
        %td= link_to 'Show', candidate
        %td= link_to 'Edit', edit_candidate_path(candidate)
        %td= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Candidate', new_candidate_path
