%p
  %strong First name:
  = @candidate.first_name
%p
  %strong Last name:
  = @candidate.last_name
%p
  %strong Email:
  = @candidate.email
%p
  %strong Certificate:
  = @candidate.certificate
= link_to 'Edit', edit_candidate_path(@candidate)
|
= link_to 'Back', candidates_path
