:javascript
  $(document).on("turbolinks:load", function () {
    console.log('causa')
    $('#close-questions-modal').on('click', function() {
      $('#exam_questions_modal').modal('hide');
    });
  })
  
/ Large modal

#exam_questions_modal.modal.fade.bd-example-modal-lg{style: "width: 100%", "aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Banco de Preguntas
        %button.close#close-questions-modal{"aria-label" => "Close", "data-dismiss" => "modal", :type => 'button'}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .table-responsive
          %table#pagination.table.table-striped.table-bordered
            %thead{:align => "center"}
              %tr
                %th 
                  %a ID
                %th 
                  %a Categoría
                %th 
                  %a Creación
                %th 
                  %a Aprobación Pertinencia
                %th 
                  %a Aprobación Estilo
                %th 
                  %a Detalle
                %th 
                  %a Estado
                %th
                  %a Opciones
            %tbody
              - @questions.each do |question|
                %tr
                  %td{:align => "center"}= question.id
                  %td{:align => "center"}= question.category.name
                  %td{:align => "center"}= question.created_at
                  %td{:align => "center"}= question.pertinency_approved_at
                  %td{:align => "center"}= question.format_approved_at
                  %td
                    %a.btn.btn-dark{"data-todo" => {"id": "#{question.id}"}, "data-toggle": "modal", href: "#showModal-#{question.id}"}
                      %span.material-icons{style: "vertical-align: middle;"} visibility
                  %td= question.status
                  %td= link_to 'Añadir Pregunta', entrance_exam_add_question_to_entrance_exam_path(entrance_exam, question), method: :post, data: { confirm: 'Seguro que quieres agregar esta pregunta ?' }
                  = render '/questions/question_preview_modal', object: question

      //.modal-footer
      //  %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
      //  %button.btn.btn-primary{:type => "button"} Send message
