= render 'add_questions_form', entrance_exam: @entrance_exam

.table-responsive
  %table#pagination.table.table-striped.table-bordered
    %thead{:align => "center"}
      %tr
        %th 
          %a ID
        %th 
          %a Categoría
        %th 
          %a Creación
        %th 
          %a Aprobación Pertinencia
        %th 
          %a Aprobación Estilo
        %th 
          %a Detalle
        %th 
          %a Estado
        %th
          %a Opciones
    %tbody
      - @added_questions.each do |question|
        %tr
          %td{:align => "center"}= question.id
          %td{:align => "center"}= question.category.name
          %td{:align => "center"}= question.created_at
          %td{:align => "center"}= question.pertinency_approved_at
          %td{:align => "center"}= question.format_approved_at
          %td
            %a.btn.btn-dark{"data-todo" => {"id": "#{question.id}"}, "data-toggle": "modal", href: "#previewShowModal-#{question.id}"}
              %span.material-icons{style: "vertical-align: middle;"} visibility
          %td= question.status
          %td= link_to 'Quitar Pregunta', entrance_exam_remove_question_from_entrance_exam_path(@entrance_exam, question), method: :delete, data: { confirm: 'Seguro que quieres quitar esta pregunta ?' }
          = render '/questions/question_preview_modal_added', object: question
