.form-content
  = form_with(model: entrance_exam, local: true, class: 'entrance-exam-form', id: 'entrance-exam-form', html: {novalidate: true }) do |form|
    - if entrance_exam.errors.any?
      #error_explanation
        %h2
          = pluralize(entrance_exam.errors.count, "error")
          prohibited this entrance exam from being saved:
        %ul
          - entrance_exam.errors.full_messages.each do |message|
            %li= message
    .form-group
      = form.label :'Nombre', style: "font-weight: bold"
      = form.text_field :name, maxlength: "50", class: "form-control", :required => true
      .invalid-feedback
        Campo obligatorio

    .form-group
      = form.label :'Descripción', style: "font-weight: bold"
      = form.text_area :description, class: "form-control", :required => false
      .invalid-feedback
        Campo obligatorio

    .form-group
      = form.label :'Fecha de Exámen'
      = form.date_field :tooked_at, class: "form-control", :required => true
      .invalid-feedback
        Campo obligatorio
        
    .actions{style: "float: right"}
      = form.submit 'Guardar', class: "btn btn-primary", data: {turbolinks: false}
      = link_to 'Cancelar', entrance_exams_path, class: "btn btn-dark"
