/ Operator index, include policies for view
/ Operator index, include policies for view
.container-questions
  %div
  .row
    %div
    .col-md-6
      %h2
        %b Exámenes de Admisión
    .col-md-6.d-flex.right-panel
      = link_to new_entrance_exam_path, data: {turbolinks: false}, class: "btn btn-primary add-button" do
        %span{class: "material-icons"} add
        Nuevo Exámen

  %br/
  .table-responsive
    %table#pagination.table.table-striped.table-bordered
      %thead{:align => "center"}
        %tr
          %th 
            %a ID
          %th 
            %a Nombre
          %th 
            %a Descripción
          %th 
            %a Fecha de Exámen
          %th 
            %a Fecha de Definición
          %th{col: "2"}
            %a Acciones
      %tbody
        - @entrance_exams.each do |entrance_exam|
          %tr
            %td{:align => "center"}= entrance_exam.id
            %td{:align => "center"}= entrance_exam.name
            %td{:align => "center"}= entrance_exam.description
            %td{:align => "center"}= entrance_exam.tooked_at
            %td{:align => "center"}= entrance_exam.defined_at
            %td
              = link_to entrance_exam_path(entrance_exam) do
                %span.material-icons{style: "vertical-align: middle;"} playlist_add
                Agregar Preguntas
