.container-questions
  .row.content-header
    .col-md-6
      %h2
        %b= @entrance_exam.name
    .col-md-6.d-flex.right-panel
      = link_to 'Regresar', entrance_exams_path, class: "btn btn-primary add-button mr-2"
      = link_to edit_entrance_exam_path(@entrance_exam), data: {turbolinks: false}, class: "btn btn-primary add-button" do
        %span{class: "material-icons"} edit
        Editar Datos de Exámen

.form-content
  .card
    .card-body
      %strong Nombre:
      = "#{@entrance_exam.name}"
  
  .card
    .card-body
      %strong Fecha de Exámen:
      = @entrance_exam.tooked_at.strftime("%B %d, %Y %A")

%button.btn.btn-primary{"data-target" => ".bd-example-modal-lg", "data-toggle" => "modal", :type => "button"} Elegir Preguntas

= render 'add_questions'
  
