= form_with(model: permission, local: true) do |form|
  - if permission.errors.any?
    #error_explanation
      %h2
        = pluralize(permission.errors.count, "error")
        prohibited this permission from being saved:
      %ul
        - permission.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name
  .actions
    = form.submit
