%h1 Permissions
%table
  %thead
    %tr
      %th Name
      %th{colspan: "3"}
  %tbody
    - @permissions.each do |permission|
      %tr
        %td= permission.name
        %td= link_to 'Show', permission
        %td= link_to 'Edit', edit_permission_path(permission)
        %td= link_to 'Destroy', permission, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Permission', new_permission_path
