= form_with(model: role_permission, local: true) do |form|
  - if role_permission.errors.any?
    #error_explanation
      %h2
        = pluralize(role_permission.errors.count, "error")
        prohibited this role_permission from being saved:
      %ul
        - role_permission.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit
