%h1 Role Permissions
%table
  %thead
    %tr
      %th{colspan: "3"}
  %tbody
    - @role_permissions.each do |role_permission|
      %tr
        %td= link_to 'Show', role_permission
        %td= link_to 'Edit', edit_role_permission_path(role_permission)
        %td= link_to 'Destroy', role_permission, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Role Permission', new_role_permission_path
