= form_with(model: users_speciality, local: true) do |form|
  - if users_speciality.errors.any?
    #error_explanation
      %h2
        = pluralize(users_speciality.errors.count, "error")
        prohibited this users_speciality from being saved:
      %ul
        - users_speciality.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit
