%h1 Users Specialities
%table
  %thead
    %tr
      %th{colspan: "3"}
  %tbody
    - @users_specialities.each do |users_speciality|
      %tr
        %td= link_to 'Show', users_speciality
        %td= link_to 'Edit', edit_users_speciality_path(users_speciality)
        %td= link_to 'Destroy', users_speciality, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Users Speciality', new_users_speciality_path
