= form_with(model: question_track, local: true) do |form|
  - if question_track.errors.any?
    #error_explanation
      %h2
        = pluralize(question_track.errors.count, "error")
        prohibited this question_track from being saved:
      %ul
        - question_track.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit
