%h1 Question Tracks
%table
  %thead
    %tr
      %th{colspan: "3"}
  %tbody
    - @question_tracks.each do |question_track|
      %tr
        %td= link_to 'Show', question_track
        %td= link_to 'Edit', edit_question_track_path(question_track)
        %td= link_to 'Destroy', question_track, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Question Track', new_question_track_path
