.form-content
  = form_with(model: role, local: true, class: 'question-form', html: {novalidate: true }) do |form|
    - if role.errors.any?
      #error_explanation
        %h2
          = pluralize(role.errors.count, "error")
          prohibited this role from being saved:
        %ul
          - role.errors.full_messages.each do |message|
            %li= message
    .form-group
      = form.label :'nombre de rol'
      = form.text_field :name, maxlength: "20", class: "form-control", :required => true
      .invalid-feedback
        Campo obligatorio

    .form-group
      = form.label :'permisos', for: 'user_permission_id'
      = form.collection_select :permission_ids, Permission.all, :id, :name, { prompt: 'Seleccionar Permisos' }, { multiple: true, class: 'form-control', required: true }                                                                  |
      .invalid-feedback
        Campo obligatorio
    .actions{style: "float: right"}
      = form.submit 'Guardar', class: "btn btn-primary"
      = link_to 'Cancelar', roles_path, class: "btn btn-dark"
