.container-questions
  .row.content-header
    .col-md-6
      %h2
        %b Administración de Roles
    .col-md-6.d-flex.right-panel
      = link_to new_role_path, data: {turbolinks: false}, class: "btn btn-primary add-button" do
        %span{class: "material-icons"} add
        Nuevo Rol

  .table-responsive
    %table#pagination.table.table-striped.table-bordered
      %thead{:align => "center"}
        %tr
          %th
            %a Nombre
          %th
            %a Cantidad
          %th{style: "text-align:center;"}
            %a Acciones

      %br/
      %br/
      %tbody
        - @roles.each do |role|
          %tr
            %td= role.name
            %td n
            %td{:align => "center"}
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle;\">visibility</span>"), role, class: "btn btn-link" if policy(:role).show?
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle; color:black;\">edit</span>"), edit_role_path(role), data: {turbolinks: false}, class: "btn btn-link" if policy(:role).edit?
              = link_to raw("<span class=\"material-icons\" style=\"vertical-align: middle; color:red;\">delete</span>"), role, data: {toggle: "modal", target: "#deleteModal-#{role.id}"}, class: "btn btn-link" if policy(:role).destroy?
          = render '/layouts/delete_modal', object:role, message:"Está a punto de eliminar el rol #{role.name}. ¿Seguro de realizar esta acción?" if policy(:role).destroy?
    %br/
