.container-roles
  %h2 Detalle de Rol Formulador
  %p
  .form-group
    %label
      %strong Nombre de rol:
    %br/
    %input.form-control.form-control-sm{:readonly => "readonly", style: "height: 40px", type: "text", value: "#{@role.name}"}/
  .form-group
    %label
      %strong Permisos asignados:
    %br/
    %textarea.form-control.form-control-sm{:readonly => "readonly", style: "height: 100px", type: "text"}
      = @role.permissions.pluck(:name).join(', ')
  .form-group
    %label
      %strong Cantidad de usuarios asociados al rol:
    %br/
    %input.form-control.form-control-sm{:readonly => "readonly", style: "height: 40px", type: "text", value: "n"}/
  .row.content-header 
    .col-12.d-flex.right-panel
      = link_to 'Regresar', roles_path, class: "btn btn-primary add-button mr-2"
      = link_to edit_role_path(@role), data: {turbolinks: false}, class: "btn btn-primary add-button" do
        %span{class: "material-icons"} edit
        Editar Rol