.card.signin-card
  .card-body.card-body-login
    %h3
      %strong Cambie su Contraseña
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = render "users/shared/error_messages", resource: resource
      = f.hidden_field :reset_password_token
      %br/
      .form-group
        %span.material-icons{style: "vertical-align: middle;"} lock
        = f.label :password, "Nueva contraseña"
        %br/
        %em
          (#{@minimum_password_length} caractéres como mínimo, 1 símbolo y 1 mayúscula)
        %br/
        %br/
        = f.password_field :password, autofocus: true, autocomplete: "new-password",  class: "form-control form-control-sm"
      .form-group
        %span.material-icons{style: "vertical-align: middle;"} lock
        = f.label :password_confirmation, "Confirme su nueva contraseña"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password",  class: "form-control form-control-sm"
      %br/
      .text-center
        = f.submit "Cambiar contraseña", class: "btn btn-primary"
        %br/
        %br/
        = render "users/shared/links"
