.card.signin-card
  .card-body.card-body-login
    %h3.card-title.text-center Recuperar Contraseña
    .card-text
      .card.text2
        %p.text-head
          Para la recuperacion de la contraseña, debe ingresar su correo institucional,
          al cual le llegara una nueva contraseña, despues puedes cambiarla por otra contraseña.
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "users/shared/error_messages", resource: resource
        .form-group.form-submit
          = f.label :"Ingrese su Correo Institucional"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "Ingrese su Correo Institucional"
        .row
          .col-md-4.btn2
            = f.submit "Enviar una nueva contraseña", class: "btn btn2 btn-primary right"
        .actions{style: "float: right"}
          = link_to 'Regresar', users_path, class: "btn btn-dark"
