= form_with(model: alternative, local: true) do |form|
  - if alternative.errors.any?
    #error_explanation
      %h2
        = pluralize(alternative.errors.count, "error")
        prohibited this alternative from being saved:
      %ul
        - alternative.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :description
    = form.text_area :description
  .field
    = form.label :images
    = form.text_field :images
  .field
    = form.label :formula
    = form.text_area :formula
  .actions
    = form.submit
