%h1 Alternatives
%table
  %thead
    %tr
      %th Description
      %th Images
      %th Formula
      %th{colspan: "3"}
  %tbody
    - @alternatives.each do |alternative|
      %tr
        %td= alternative.description
        %td= alternative.images
        %td= alternative.formula
        %td= link_to 'Show', alternative
        %td= link_to 'Edit', edit_alternative_path(alternative)
        %td= link_to 'Destroy', alternative, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Alternative', new_alternative_path
