%p
  %strong Description:
  = @alternative.description
%p
  %strong Images:
  = @alternative.images
%p
  %strong Formula:
  = @alternative.formula
= link_to 'Edit', edit_alternative_path(@alternative)
|
= link_to 'Back', alternatives_path
