.container-categories
  = form_with(model: category, local: true) do |form|
    - if category.errors.any?
      #error_explanation
        %h2
          = pluralize(category.errors.count, "error")
          prohibited this category from being saved:
        %ul
          - category.errors.full_messages.each do |message|
            %li= message
    .form-group
      %h5 Ingrese la Categoria y Subcategorias
      #tree
      %p
      %button#button1{:type => "button", class: "btn btn-primary"} Añadir Subcategoria
      %button#button2{:type => "button", class: "btn btn-danger"} Eliminar
      %p
      .actions{style: "float: right"}
        = link_to 'Cancelar', categories_path, class: "btn btn-dark"
      %button#button3{:type => "button", class: "btn btn-primary", style: "float: right"} Guardar

