= javascript_pack_tag 'categories_edit', 'data-turbolinks': 'reload'

.container-questions
  .row.content-header
    .col-md-6
      %h2
        %b Administración de Categorías
    .col-md-6.d-flex.right-panel
      = link_to categories_path, class: "btn btn-primary add-button", data: {turbolinks: false} do
        %span{class: "material-icons"} keyboard_return
        Regresar

  .row
    .col-lg-2.col-md-3
      %button.btn.btn-primary.button-categories#blur_tree_button
        Desenfocar
        %span{class: "material-icons"} location_disabled
      %button.btn.btn-primary.button-categories#add_tree_node_button 
        Agregar Nodo Raíz
        %span{class: "material-icons"} library_add
      %button.btn.btn-primary.button-categories#add_node_button
        Agregar Nodo
        %span{class: "material-icons"} add_box
      %button.btn.btn-primary.button-categories#remove_node_button
        Eliminar Nodo
        %span{class: "material-icons"} delete
    .col-lg-10.col-md-9
      #edit_categories_tree