= javascript_pack_tag 'categories_index', 'data-turbolinks': 'reload'

.container-questions
  .row.content-header
    .col-md-6
      %h2
        %b Administración de Categorías
    .col-md-6.d-flex.right-panel
      = link_to categories_edit_tree_path, class: "btn btn-primary add-button", data: {turbolinks: false} do
        %span{class: "material-icons"} edit
        Editar Árbol de Categorias

  #index_categories_tree
