.container-categories
  %h2
    Detalle de Categoria #{@category.name}
  %p
  .form-group
    %label
      %strong Nombre:
    %br/
    %input.form-control.form-control-sm{:readonly => "readonly", style: "height: 40px", type: "text", value: "#{@category.name}"}/
  .float-right
    = link_to 'Editar', edit_category_path(@category), class: "btn btn-primary"
    = link_to 'Regresar', categories_path, class: "btn btn-dark"
