.content-header {
  padding-bottom: 15px;
}

.right-panel {
  justify-content: flex-end;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.form-content {
  width: 100%;
  padding: 0 20px 20px 20px; 
}

.formulator-selector {
  width: 200px;
}