.container-categories{
  width: 90%;
  margin-top: 20px; 
  padding: 20px;
}
.fancytree-title{
font-family: 'Roboto', sans-serif;
font-size: initial;
max-width: 95%;
}

.button-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;
}