@import "variables.scss";

.footer{
  background-color: $footer-color-gray; 
  color: $text-color-secondary;
  width: 100%;
  height: 100px;
  justify-items: center;
  position: fixed;
  bottom: 0px;
}
.container-footer{
  padding: 0;
  margin-top: 0.5rem;
}