@import "variables.scss";

body, html {
  font-family: 'Roboto', sans-serif;
  font-size: $main-font-size;
  background-color: $unsa-color-body-background;
  height: 100%;
}

.btn {
  font-size: $button-font-size;
}

.row{
  place-content: auto;
  margin: 0;
}
.container {
  padding: 20px;

  margin-top: 1rem;

  h1 {
    text-align: left;
  }
}
.container-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.body-page{
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
  margin-left: 16.6%;
  top: 50px;
  margin-bottom: 10%;

  .work-space {
    position: absolute;
    left: 200px;
    top: 50px;
    width: calc(100% - 200px);
  }
}

.container-login {
  height: 100%;
  background-image: url('../../images/historia-portada.jpg');
  opacity: 0.5;
  background-position: center;
  width: 100%;
  margin-top: 50px;;
  h1 {
    text-align: left;
  }
}
.signin-card {
  border-radius: 10px;
  margin: 150px 0% 50px 0%;
  max-width: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  border: 1px rgba(0, 0, 0, 0.125);
  background-color: transparent;
  align-items: center;
  h1 {
    text-align: left;
  }
}
.card-body-login{
  width: 30%;
  border-radius: 10px;
  background-color: white;
}
.conta {
  margin-top: 60px;
  margin-left: 50px;
  padding-left: 70px;
  padding-right: 10px;
  border: 1px solid #000000;
  h2 {
    text-align:center;
  }
}

.textito {
  text-align: center;
  width: 350px;
}
.header-table{
  text-align: center;
}
.btn{
  padding: 0.2rem 0.4rem;
}
.alert{
  z-index: 1;
}
.body-1{
  overflow-x: hidden;
}

