.container-questions{
  width: 100%;
  margin-top: 20px;
  padding: 20px; 
}

.container-gray{
  background-color: gray;
}

.container-alternatives{
  background-color: #dddddd; 
  padding-left:40px;
}
.altenative-image{
  margin-left: 20px; 
  padding-top: 30px;
}
 
.com-style{
  border: 2px solid white;
  background-color: #F7F7F7;
  box-sizing: border-box;
  border-radius: 14px;
  color: black;
  padding: 12px 20px 12px 40px;
  width: 100%;
}

.com-style2{
  border: 1px solid #C0C0C0;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 12px 20px 12px 40px;
  width: 100%;
}

.com-text{
  font-family: 'consolas';
  font-style: italic;
  font-size: 15px;
  text-align: right;
  color: gray;
}

.border-content{
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
}
.holi{
  text-align:center;
}
.error{
  color: red;
  font-style: italic;
  font-size: 13px;
}
.alternatives-question{
  height: initial;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-height: 45px;
  width: 100%;
}
.alternatives-question_review{
  height: initial;
  background-color: #dedede;
  border: 1px solid #989da1;
  border-radius: 0.25rem;
  width: 100%;
  p{
    padding-left: 7px;
  }
}
.ck-question {
  max-height: 150px;
  height: 150px;
  background-color: white;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
}
.ck-question_review{
  background-color: #dedede;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  p{
    padding-left: 7px;
  }
}

.content-alternatives{
  padding-left: 0px;
}