@import "variables.scss";

.bg-unsa-secondary{
  background-color: $sidebar-color-gray;
  &:hover {
    font-weight: bold;
    background-color: $sidebar-color-secondary;
    color: #ffffff;
  }
  border-bottom: 0.5px solid #dee2e6 !important;
}

.text-unsa-secondary{
  color: $sidebar-text-gray-light;

}
.sidebar-content{
  position: fixed;
  top: 50px; left: 0px;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  width: 200px;
  background-color: $sidebar-color-gray;
}
.sidebar {
  background-size: auto 100%;
  width: auto 100%;
  background-color: #f5f5f5f5;

}

.mid {
  vertical-align: middle;
}
