@import "variables.scss";

.bg-unsa-primary{
  background-color: $primary-color;
}
.navbar{
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0px; left: 0px;
  z-index: 1;
}
.header{
  flex-shrink: 0;
  z-index: 2;
}
.row-top{
  width: 100%;
}
.menu-right-bar{
  margin-left: auto;
}

.text-unsa-secondary{
  &:hover {
    color: $sidebar-text-gray-light;
  }
}
.top-bar-icon{
  vertical-align: top;
}

.profile-dropdown {
  align-items: center;
}