/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.glyphicon-hover {
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 2px;
}

.glyphicon-hover:hover,
.glyphicon:focus {
  border-radius: 5px;
  border: 1px solid black;
  color: red;
}
.dropdown-link-text {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #990537;
}

/* mouse over link */
.a-dropdown:hover {
  font-style: inherit;
  color: #fff;
  text-decoration: none;
}

.dropdown-menu-logout {
  margin: 0px;
  border: 0px;
}

.font-menu-logout {
  font-size: small;
}

.user-menu {
  vertical-align: text-bottom !important;
  margin-left: 8px;
}

.container-users {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}

.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
}

.login-form {
  width: 460px;
  margin: 20px;
}

.text2 {
  width: 100%;
  margin-bottom: 20px;
}

.text-head {
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

.form-submit {
  text-align: center;
  font-size: large;
}

.btn2 {
  margin-left: 45px;
  margin-block-end: 12px;
}

.alert {
  margin-bottom: -30px;
  font-size: 13px;
  margin-top: 20px;
}
.styled-select {
  width: 240px;
  height: 34px;
  overflow: hidden;
  background: right #ddd;
  border: 1px solid #ccc;
}
.sidebar-box select {
  padding: 5px 10px;
  height: 42px;
  min-width: 225px;
  height: 34px;
  width: 240px;
  height: 34px;
  overflow: hidden;
  background: right #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-content {
  width: 100%;
  padding: 0 20px 20px 20px; 
}