$primary-color: #64001D;
$sidebar-color: #990537;
$text-color-primary: #000000;
$text-color-secondary: #adacad;
$button-color: #64001D;
$button-color-hover: rgba(50, 48, 50, .6);
$sidebar-color-gray: #8e8d8e;
$sidebar-color-secondary: #747274;
$footer-color-gray: rgba(50, 48, 50, 1);
$sidebar-text-gray-light: #ffffff;

$unsa-color-body-background: #EBECF0;

$button-font-size: 12px;
$main-font-size: 12px;

