:javascript
  $(document).on('turbolinks:load', function(){
    $('#assign_revisor').submit(function(e) {
      $('#loader').show();
      console.log('THJIS IS HAPPENING');
      e.preventDefault();
      var values = {};
      $.each($('#assign_revisor').serializeArray(), function(i, field) {
        values[field.name] = field.value;
      });
      console.log('Sending this: ', values)
      $.ajax({
        url: `/questions/${values.question_id}/assign_question`,
        type: "POST",
        data: values,
        async: true,
        success: function (msg, response) {
            if(response == 'success'){
              $("#alert-assign-question").html('<div class="alert alert-success">  La accion se realizo correctamente.</div>');
              $('#content-details').hide();
              $('#assign-select').hide();
              setTimeout(function() {
                  location.reload();
              }, 2000);              
            }
        },
        cache: false
      });
    });
  });

  $(document).on('turbolinks:load', function(){
  $('#assignModal').on('show.bs.modal', function(e) {

      var apiPer = "/users/pertinency_reviewers" + ".json";
      $.getJSON(apiPer, function(dat) {
     
        /* Handle loader and content */
        $('#loader').show();
        $('#content-detail').hide();
        
        /*Asignar revisor de pertinencia*/
        var $revPer = $('#select_pertinency');
        $revPer.find('option').remove();
        dat.forEach(element => {
          $revPer.append('<option value=' + element.id + '>' + element.first_name +' ' + element.last_name +  '</option>');

        });
      });

      
      var apiPer = "/users/format_reviewers" + ".json";
      $.getJSON(apiPer, function(dat) {
        
        $('#loader').show();
        $('#content-detail').hide();
      
        var $revPer = $('#select_format');
        $revPer.find('option').remove();
        dat.forEach(element => {
          $revPer.append('<option value=' + element.id + '>' + element.first_name +' ' + element.last_name + '</option>');

        });
      });
      
      var api = "/questions/" + e.relatedTarget.dataset.todoId + ".json";
      $.getJSON(api, function(data) {
        /* Handle loader and content */
        $('#loaders').hide();
        $('#content-details').show();


        /* Hide selects based on conditions */
        if(data.pertinency_approved_at == null){
          //console.log('pert check is missing')
          $('#select_format').prop('disabled', true);
          $('#format_block').hide();
        }
        else if(data.pertinency_approved_at != null && data.format_approved_at == null){
          //console.log('format check is missing')
          $('#select_pertinency').prop('disabled', true);
          $('#pertinency_block').hide();
        }


        /* Campos ocultos para el form */
        $(e.currentTarget).find('input[name="question_id"]').val(data.id);

        /* Descripción de la pregunta */
        $("#question_descriptions").html(data.definition);
        /* Área de la pregunta */
        $("#question_area").html('<p><strong> Área: </strong>'+ data.category.name +'</p>');
        /* Justificación de la pregunta */
        $("#justifications").html(data.explanation);
        
        /* Dificultad de la pregunta */
        if (data.difficulty == 'high') {
          $("#dificultys").html('<p><strong> Dificultad: </strong>Difícil</p>');
        } else if (data.difficulty == 'medium') {
          $("#dificultys").html('<p><strong> Dificultad: </strong>Media</p>');
        } else if (data.difficulty == 'low') {
          $("#dificultys").html('<p><strong> Dificultad: </strong>Baja</p>');
        }

        /* Estado de la pregunta */
        if (data.status == 'incomplete') {
          $("#current_statusA").html('<p><strong> Estado: </strong>Falta Enviar</p>');
        } else if (data.status == 'on_review') {
          $("#current_statusA").html('<p><strong> Estado: </strong>En Revisión</p>');
        } else if (data.status == 'observed') {
          $("#current_statusA").html('<p><strong> Estado: </strong>Observada</p>');
        } else if (data.status == 'rejected') {
          $("#current_statusA").html('<p><strong> Estado: </strong>Rechazada</p>');
        } else if (data.status == 'approved') {
          $("#current_statusA").html('<p><strong> Estado: </strong>Aprobada</p>');
        }

        /* Alternativas */
        $("#alternative_A").html('<p><strong> a) </strong>' + data.alternatives[0].description + '</p>');
        $("#alternative_B").html('<p><strong> b) </strong>' + data.alternatives[1].description + '</p>');
        $("#alternative_C").html('<p><strong> c) </strong>' + data.alternatives[2].description + '</p>');
        $("#alternative_D").html('<p><strong> d) </strong>' + data.alternatives[3].description + '</p>');
        $("#alternative_E").html('<p><strong> d) </strong>' + data.alternatives[4].description + '</p>');

        /* Alternativa correcta */
        data.alternatives.forEach(element => {
          if (element.id == data.answer_id) {
            var alt = ''
            if (element.order == 0) { alt = '<strong> a) </strong>' } 
            else if (element.order == 1) { alt = '<strong> b) </strong>'} 
            else if (element.order == 2) { alt = '<strong> c) </strong>' } 
            else if (element.order == 3) { alt = '<strong> d) </strong>' } 
            else if (element.order == 4) { alt = '<strong> e) </strong>' }
            $("#correct_answers").html(alt + element.description);
          }
        });
      });
    });
  });
  
/ Start modal part
%form#assign_revisor{"accept-charset": "utf-8", enctype: "multipart/form-data", method: "post", name: "assign_revisor"}
  #assignModal.modal.fade{"aria-hidden": "true", "aria-labelledby": "exampleModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-lg{role: "document"}
      .modal-content
        .modal-header
          %h5#exampleModalLabel.modal-title Detalle de Pregunta
          %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
            %span{"aria-hidden": "true"} ×
        .modal-body
          #loaders{:align => "center"}
            .spinner-border.text-primary{role: "status"}
              %span.sr-only Loading...
          #alert-assign-question
          
          #content-details
            
            / Start Content Detail
            .row
              .col-md-4
                #question_area
              .col-md-4
                #dificultys
              .col-md-4
                #current_statusA
            %br/
            %h3
              %b
                #question_descriptions
            %br/
            %div
              .row
                .col-md-6
                  #alternative_A
                .col-md-6
                  #alternative_B
              .row
                .col-md-6
                  #alternative_C
                .col-md-6
                  #alternative_D
              .row
                .col-md-6
                  #alternative_E
            %br
            %span.material-icons{style: "vertical-align: middle;"} done_outline
            %b Respuesta Correcta:
            #correct_answers
            %br
            %span.material-icons{style: "vertical-align: middle;"} event_available
            %b Justificación:
            #justifications
          / End Content Detail
          %br
            %input#question_id{name: "question_id", type: "hidden", value: ""}
            .assign#assign-select
              #pertinency_block.revisor
                .form-group
                  %span.material-icons{style: "vertical-align: middle;"} layers
                  %label{for: "pertinencia"}
                    %strong Revisor de Pertinencia
                  %select#select_pertinency.form-control{name: "reviewer_id"}
              #format_block.revisor
                .form-group
                  %span.material-icons{style: "vertical-align: middle;"} color_lens
                  %label{for: "exampleFormControlSelect1"}
                    %strong Revisor de Estilo
                  %select#select_format.form-control{name: "reviewer_id"}
        .modal-footer
          %button.btn.btn-primary{type: "submit"}Asignar
          %button.btn.btn-secondary{"aria-label": "Close", "data-dismiss": "modal", type: "button"} Cancelar
  / End modal part
