:javascript
  $(document).on('turbolinks:load', function(){
    $('#commentModal').on('show.bs.modal', function(e) {
      console.log('entro')
      var api = "/questions/" + e.relatedTarget.dataset.todoId + "/comments.json";
      
      document.getElementById('box').innerHTML = '';
      $.getJSON(api, function(data) {
        console.log(data)
       
        $('#loadersn').hide();
        $('#cont-details').show();

        dayOfWeekName = ['Dom','Lun','Mar','Mie','Jue','Vie','Sab'];
        monthName = ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"];
        $('#box').find('div').remove();
        
        for (index = 0; index < data.length; index++) { 

          var date    = new Date(data[index].created_at),
                 yr      = date.getFullYear(),
                 month   = monthName[date.getMonth()],
                 day     = dayOfWeekName[date.getDay()],
                 hour    =  date.getHours();
                 minute  = date.getMinutes();
                 var hours = (date.getHours()+24-2)%24; 
                 var mid='am';
                 if(hours==0){ 
                   hours=12;
                 }
                 else if(hours>12){
                   hours=hours%12;
                   mid='pm';
                 }
                 
                 newHour = hours +':' + minute + mid;
                 dateFinal = day +' '+ date.getDate() +' de ' + month +' '+ yr + ' a las ' + newHour;
          


          const div = document.createElement('div');
          div.className = 'row';
          div.innerHTML = `
            <div style="width: 100%";>
              <span class="material-icons" style= "vertical-align: middle;">
                chat
              </span>
              <a>&nbsp;&nbsp;&nbsp;${data[index].comment}</a></div>
            </div>
            <div style="width: 100%; text-align: right;">
              <a style="font-size: 10px;">${dateFinal}</a>
              <hr>
            </div>
            `;
          document.getElementById('box').appendChild(div);
        } 
      });
      
    });
  });
/ Start modal part
#commentModal.modal.fade{"aria-hidden": "true", "aria-labelledby": "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title 
          %b Comentarios en la Pregunta
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} ×
      .modal-body
        #loadersn{:align => "center"}
          .spinner-border.text-primary{role: "status"}
            %span.sr-only Loading...
        #cont-details
          #box
          %br/
                              
      .modal-footer
        %button.btn.btn-primary{"data-dismiss": "modal", type: "button"} Aceptar
/ End modal part
