:javascript
  $(document).on('turbolinks:load', function(){
    $('#confirm_question').submit(function(e) {

    e.preventDefault();

    var values = {};
    var data = {};
    var url;
    $.each($('#confirm_question').serializeArray(), function(i, field) {
      values[field.name] = field.value;
    });
    if (values.actionid == "1") {
      url = `/questions/${values.questionid}/approve_question`
    } else if (values.actionid == "0") {
      url = `/questions/${values.questionid}/reject_question`
    } else if(values.actionid == "2") {
      url = `/questions/${values.questionid}/observe_question`
    }

    $.ajax({
      url: url,
      type: "POST",
      async: true,
      success: function(response) {
        console.log(response)
        $("#alert-assign").html('<div class="alert alert-success">  La accion se realizo correctamente.</div>');
        $("#modal-body").hide();
        $("#modal-footer").hide();
        setTimeout(function() {
          if(response.location != null && response.location != 'undefined')
            location.replace(response.location)          
        }, 2000);       
      },
      cache: false
    });
  });

  $('#confirmModal').on('show.bs.modal', function(e) {
    console.log(e.relatedTarget.dataset);
    let object = Object($(e.relatedTarget).data('todo'));
    var objectAction = object.action;
    var message;
    if (e.relatedTarget.dataset.todoAction === "1") {
      message = "Aprobar"
    } else if (e.relatedTarget.dataset.todoAction === "0") {
      message = "Rechazar"
    } else if (e.relatedTarget.dataset.todoAction === "2") {
      message = "Observar"
    }

    $("#action_confirm").html('<p>Esta seguro de <strong>'+ message +'</strong> la pregunta?</p>');
    $(e.currentTarget).find('input[name="questionid"]').val(e.relatedTarget.dataset.todoId);
    $(e.currentTarget).find('input[name="actionid"]').val(e.relatedTarget.dataset.todoAction);

  });
  });
  
/ Start modal part
%form#confirm_question{"accept-charset": "utf-8", enctype: "multipart/form-data", method: "post", name: "confirm_question"}
  #confirmModal.modal.fade{"aria-hidden": "true", "aria-labelledby": "exampleModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog{role: "document"}
      .modal-content
        .modal-header
          %h5#exampleModalLabel.modal-title Confirmar Acción
          %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
            %span{"aria-hidden": "true"} ×
        #alert-assign
        .modal-body
          #modal-body
            #action_confirm
            %input#questionid{name: "questionid", type: "hidden", value: ""}/
            %input#actionid{name: "actionid", type: "hidden", value: ""}/
        .modal-footer
          %button.btn.btn-primary{type: "submit"}Confirmar
          %button.btn.btn-secondary{"aria-label": "Close", "data-dismiss": "modal", type: "button"} Cancelar
  / End modal part
