/ Modal
.modal.fade{id: "deleteModal-#{object.id}", tabindex: "-1", role: "dialog", "aria-labelledby": "exampleModalLabel", "aria-hidden": "true"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Eliminar Registro
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} ×
      .modal-body
        = message
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss": "modal", type: "button"} Cancelar
        = link_to 'Eliminar', object,  method: :delete, class: "btn btn-danger"
