.footer.row
  .col-md-6.d-flex.flex-column.justify-content-center.align-items-center
    %b Universidad Nacional de San Agustín de Arequipa
    %b Calle Santa Catalina Nro. 117. Cercado - Arequipa
    %b Telf. 51-54-237808 - Email: rectorado@unsa.edu.pe

  .col-md-6.d-flex.flex-column.justify-content-center.align-items-center
    %b Oficina de Admisión
    %b Correo: admision@unsa.edu.pe
    %b Telf. 054-00998877 

