:javascript
  $(document).on('turbolinks:load', function(){
    $('#showModal').on('show.bs.modal', function(e) {
      console.log('entro')
      var api = "/questions/" + e.relatedTarget.dataset.todoId + ".json";

      $.getJSON(api, function(data) {
        console.log(data)
        /* Handle loader and content */
        $('#loader').hide();
        $('#content-detail').show();

        /* Descripción de la pregunta */
        $("#question_description").html(data.definition);
        
        /* Justificación de la pregunta */
        $("#justification").html(data.explanation);
        $("#question_category").html('<p><strong> Área: </strong>'+ data.category.name +'</p>');

        /* Dificultad de la pregunta */
        if (data.difficulty == 'high') {
          $("#dificulty").html('<p><strong> Dificultad: </strong>Difícil</p>');
        } else if (data.difficulty == 'medium') {
          $("#dificulty").html('<p><strong> Dificultad: </strong>Media</p>');
        } else if (data.difficulty == 'low') {
          $("#dificulty").html('<p><strong> Dificultad: </strong>Baja</p>');
        }

        /* Estado de la pregunta */
        if (data.status == 'incomplete') { $("#current_status").html('<p><strong> Estado: </strong>Falta Enviar</p>'); } 
        else if (data.status == 'on_review') { $("#current_status").html('<p><strong> Estado: </strong>En Revisión</p>'); } 
        else if (data.status == 'observed') { $("#current_status").html('<p><strong> Estado: </strong>Observada</p>'); } 
        else if (data.status == 'rejected') { $("#current_status").html('<p><strong> Estado: </strong>Rechazada</p>'); } 
        else if (data.status == 'approved') { $("#current_status").html('<p><strong> Estado: </strong>Aprobada</p>'); }

        /* Alternativas */
        $("#alternative_a").html('<p><strong> a) </strong>' + data.alternatives[0].description + '</p>');
        $("#alternative_b").html('<p><strong> b) </strong>' + data.alternatives[1].description + '</p>');
        $("#alternative_c").html('<p><strong> c) </strong>' + data.alternatives[2].description + '</p>');
        $("#alternative_d").html('<p><strong> d) </strong>' + data.alternatives[3].description + '</p>');
        $("#alternative_e").html('<p><strong> e) </strong>' + data.alternatives[4].description + '</p>');

        /* Imágenes de preguntas */
        
        if(data.image_urls.length > 0){ 
          $("#question_description_image").html('<img src="' + data.image_urls[0] + '" width="25%" height="25%" />');
        }
        else { 
          $("#alternative_a_img").html(''); 
        }

        /* Imágenes de alternativas */
        if(data.alternatives[0].image_url != null){ $("#alternative_a_img").html('<img src="' + data.alternatives[0].image_url + '" width="70%" height="70%" />');}
        else { $("#alternative_a_img").html(''); }
        if(data.alternatives[1].image_url != null){ $("#alternative_b_img").html('<img src="' + data.alternatives[1].image_url + '" width="70%" height="70%" />'); }
        else { $("#alternative_b_img").html(''); }
        if(data.alternatives[2].image_url != null){ $("#alternative_c_img").html('<img src="' + data.alternatives[2].image_url + '" width="70%" height="70%" />'); }
        else { $("#alternative_c_img").html(''); }
        if(data.alternatives[3].image_url != null){$("#alternative_d_img").html('<img src="' + data.alternatives[3].image_url + '" width="70%" height="70%"/>');}
        else { $("#alternative_d_img").html(''); }
        if(data.alternatives[4].image_url != null){$("#alternative_e_img").html('<img src="' + data.alternatives[4].image_url + '" width="70%" height="70%"/>');}
        else { $("#alternative_e_img").html(''); }


        /* Alternativa correcta */
        data.alternatives.forEach(element => {
          if (element.id == data.answer_id) {
            var alt = ''
            if (element.order == 0) { alt = '<strong> a) </strong>'} 
            else if (element.order == 1) { alt = '<strong> b) </strong>' } 
            else if (element.order == 2) { alt = '<strong> c) </strong>' } 
            else if (element.order == 3) { alt = '<strong> d) </strong>' }
            else if (element.order == 4) { alt = '<strong> e) </strong>' }
            $("#correct_answer").html(alt + element.description);
          }
        });
      });
    });
  });
/ Start modal part
#showModal.modal.fade{"aria-hidden": "true", "aria-labelledby": "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title 
          %b Detalle de Pregunta
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} ×
      .modal-body
        #loader{:align => "center"}
          .spinner-border.text-primary{role: "status"}
            %span.sr-only Loading...
        #content-detail
          / Start Content Detail
          .row
            .col-md-4
              #question_category
            .col-md-4
              #dificulty
            .col-md-4
              #current_status
          %br/
          %h5 
            %b Descripción:
          %p
            %b
              #question_description
              %br/
              #question_description_image
          %br/
          %div
            .row
              .col-md-6
                #alternative_a
                #alternative_a_img
              .col-md-6
                #alternative_b
                #alternative_b_img
            .row
              .col-md-6
                #alternative_c
                #alternative_c_img
              .col-md-6
                #alternative_d
                #alternative_d_img
            .row
              .col-md-6
                #alternative_e
                #alternative_e_img
          %br/
          %span.material-icons{style: "vertical-align: middle;"} done_outline
          %b Respuesta Correcta:
          #correct_answer
          %br/
          %span.material-icons{style: "vertical-align: middle;"} event_available
          %b Justificación:
          #justification
      .modal-footer
        %button.btn.btn-primary{"data-dismiss": "modal", type: "button"} Aceptar
/ End modal part
