#sidebar.bg-light.border-right
  .list-group.list-group-flush
    = link_to :categories , class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary", data: {turbolinks: false} do
      %span.material-icons.mid category
      Categorías
    
    //= link_to destroy_user_session_path, class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary" do
    //  %span.material-icons{style: "vertical-align: top;"} event_note
    //  Comunicados

    - if policy(:call).index?
      = link_to :calls , class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary", data: {turbolinks: false} do
        %span.material-icons.mid library_books
        Convocatorias
    
    //= link_to :specialities , class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary", data: {turbolinks: false} do
    //  %span.material-icons.mid school
    //  Especialidades
   
    //= link_to :acceptance_processes , class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary" do
    //  %span.material-icons{style: "vertical-align: top;"} chrome_reader_mode
    //  Postulaciones
   
    - if policy(:entrance_exam).index?
      = link_to entrance_exams_path , class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary", data: {turbolinks: false} do
        %span.material-icons.mid list_alt
        Exámenes
    - if policy(:question).index?
      = link_to :questions , class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary", data: {turbolinks: false} do
        %span.material-icons.mid list_alt
        Preguntas
    - if policy(:question).formulator_status?
      = link_to formulator_status_path, class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary", data: {turbolinks: false} do
        %span.material-icons.mid list_alt
        Información Formulador
    - if policy(:question).reviewer_status?
      = link_to reviewer_status_path, class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary", data: {turbolinks: false} do
        %span.material-icons.mid list_alt
        Información Revisor
    - if policy(:question).index_operator?
      = link_to '/questions/index_operator' , class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary", data: {turbolinks: false} do
        %span.material-icons{style: "vertical-align: top;"} list_alt
        Preguntas Operador
    - if policy(:question).index_reviewer?
      = link_to '/questions/index_reviewer' , class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary", data: {turbolinks: false} do
        %span.material-icons.mid list_alt
        Preguntas Revisor
    - if policy(:question).index_formulator?
      = link_to '/questions/index_formulator' , class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary", data: {turbolinks: false} do
        %span.material-icons.mid list_alt
        Preguntas Formulador
   
    //= link_to destroy_user_session_path, class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary" do
    //  %span.material-icons{style: "vertical-align: top;"} bar_chart
    //  Reportes
   
    - if policy(:role).index?
      = link_to :roles , class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary", data: {turbolinks: false} do
        %span.material-icons.mid contacts
        Roles
    
    //= link_to :requests , class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary" do
    //  %span.material-icons{style: "vertical-align: top;"} speaker_notes
    //  Solicitudes
   
    - if policy(:user).index?
      = link_to :users , class: "list-group-item list-group-item-action bg-unsa-secondary text-unsa-secondary", data: {turbolinks: false} do
        %span.material-icons.mid people_alt
        Usuarios
