/ Modal
#modalQuestionView.modal.fade{"aria-hidden": "true", "aria-labelledby": "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Detalle de Pregunta 01
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} ×
      .modal-body
        %p.text-justify
          %b
            %i Área:
          Matemática  
          %b Dificultad:
          Alta  
          %b Estado:
          Sin Asignar
        %br/
        %h3
          %b ¿Cuánto es 2 + 2?
        %br/
        %p
          %i a) 4    b) 5    c) 6    d) N.A.    e) -4
        %br/
        %p
          %b Justificación:
        %p.text-justify
          Definamos en primer lugar para todo número natural la suma n + 1 como n'.
          Expresado en una igualdad sería: n + 1 := (n')''. Ya podemos expresar también
          la parte izquierda de nuestra igualdad: 2 + 2 = 1'+ 2 = ((1')')'.
          %br/
          Siendo esa es justamente la expresión de 4. De modo que, en efecto, se cumple
          que 2 + 2 = 4.
      .modal-footer
        %button.btn.btn-primary{"data-dismiss": "modal", type: "button"} Aceptar
