!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Banco de Preguntas - UNSA
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application', 'data-turbolinks': 'reload'
    %link{href: "https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap", :rel => "stylesheet"}/
    %script{:src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
    %link{href: "https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap", rel: "stylesheet"}

  %body
    .container-page
      .header
        %nav.navbar.navbar-light.bg-unsa-primary.justify-content-between
          .row.row-top
            .menu-left
              -if current_user
                -if current_user.role_id == 1
                  = link_to root_path, class: "btn sidebar-heading bg-unsa-primary text-unsa-secondary" do
                    = image_pack_tag 'logounsa.png', height: '30px'
                    BANCO DE PREGUNTAS - UNSA
                -if current_user.role_id == 2
                  = link_to '/questions/index_formulator', class: "btn sidebar-heading bg-unsa-primary text-unsa-secondary" do
                    = image_pack_tag 'logounsa.png', height: '30px'
                    BANCO DE PREGUNTAS - UNSA
                -if current_user.role_id == 3
                  = link_to '/questions/index_operator', class: "btn sidebar-heading bg-unsa-primary text-unsa-secondary" do
                    = image_pack_tag 'logounsa.png', height: '30px'
                    BANCO DE PREGUNTAS - UNSA
                -if current_user.role_id == 4
                  = link_to '/questions/index_reviewer', class: "btn sidebar-heading bg-unsa-primary text-unsa-secondary" do
                    = image_pack_tag 'logounsa.png', height: '30px'
                    BANCO DE PREGUNTAS - UNSA
              -else
                = link_to root_path, class: "btn sidebar-heading bg-unsa-primary text-unsa-secondary" do
                  = image_pack_tag 'logounsa.png', height: '30px'
                  BANCO DE PREGUNTAS - UNSA
            .menu-right.menu-right-bar
              - if current_user
                .dropdown
                  %a.btn.btn-light{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", type: "button"}
                    %span.text-unsa-dark.d-flex.profile-dropdown
                      = "#{current_user.first_name} #{current_user.last_name}"
                      %span.material-icons.user-menu portrait
                  .dropdown-menu.dropdown-menu-logout.dropdown-content.dropdown-menu-right
                    = link_to ("<p class='font-menu-logout'>Cambiar Contraseña</p>").html_safe, password_edit_user_path(current_user), class: "text-unsa-secondary a-dropdown dropdown-link-text"
                    = link_to ("<p class='font-menu-logout'>Cerrar Sesion<span class='material-icons user-menu '>exit_to_app</span></p>").html_safe, destroy_user_session_path, method: :delete , class: "text-unsa-secondary a-dropdown dropdown-link-text"
      
      - if current_user
        .sidebar-content
          .sidebar
            = render '/layouts/sidebar'      
        .body-page

          / Remove this conditional in order to see the sidebar without requiring an active session
          - if current_user
            .work-space.col-sm-12.col-md-12.body-1
              - if notice
                .alert.alert-success.alert-dismissible.fade.show{role: "alert"}
                  = notice
                  %button.close{"aria-label": "Close", "data-dismiss": "alert", type: "button"}
                    %span{"aria-hidden": "true"} ×
              - if alert
                .alert.alert-danger.alert-dismissible.fade.show{role: "alert"}
                  = alert
                  %button.close{"aria-label": "Close", "data-dismiss": "alert", type: "button"}
                    %span{"aria-hidden": "true"} ×
              = yield
            
      - else 
        .container-login
          - if notice
            .alert.alert-success.alert-dismissible.fade.show{role: "alert"}
              = notice
              %button.close{"aria-label": "Close", "data-dismiss": "alert", type: "button"}
                %span{"aria-hidden": "true"} ×
          - if alert
            .alert.alert-danger.alert-dismissible.fade.show{role: "alert"}
              = alert
              %button.close{"aria-label": "Close", "data-dismiss": "alert", type: "button"}
                %span{"aria-hidden": "true"} ×
        = yield
    = render '/layouts/footer' unless current_user
